<!--section start-->
<div class="page-title">
  <h2>{{ "My Orders" | translate }}</h2>
</div>
<div
  class="col-md-12 empty-cart-cls text-center"
  *ngIf="!loading && !orders.length"
>
  <img
    src="assets/images/empty-wishlist.png"
    alt="Empty cart"
    title="Emprt cart"
  />
  <h3 class="mt-4">
    <b>{{ "Orders List is Empty" | translate }}</b>
  </h3>
  <h4>
    {{ "You have not create any order yet, create some order." | translate }}
  </h4>
</div>
<div class="row" *ngIf="orders.length">
  <div class="col-sm-12">
    <table class="table cart-table table-responsive-xs">
      <thead>
        <tr class="table-head">
          <th scope="col">{{ "Order Id" | translate }}</th>
          <!-- <th scope="col">{{ "Image" | translate }}</th> -->
          <th scope="col">{{ "Product" | translate }}</th>
          <th scope="col">{{ "Payment Status" | translate }}</th>
          <th scope="col">{{ "Payment Method" | translate }}</th>
          <th scope="col">{{ "Order Status" | translate }}</th>
          <th scope="col">{{ "Date" | translate }}</th>
          <th scope="col">{{ "Total" | translate }}</th>
          <th scope="col">{{ "Action" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngFor="let order of orders">
        <tr>
          <td>
            <p>{{ order?.orderId }}</p>
          </td>
          <td>
            {{ getProdNames(order?.orderedProductDetails) }}
          </td>
          <td>
            <p>{{ order?.paymentStatus }}</p>
          </td>
          <td>
            <p>{{ order?.paymentService }}</p>
          </td>
          <td>
            <p>{{ order?.orderStatus }}</p>
          </td>
          <td>
            <p>{{ getFormatDate(order?.creationDate) }}</p>
          </td>
          <td>
            <p>{{ order?.total }}</p>
          </td>
          <td>
            <a
              href="javascript:void(0)"
              (click)="returnOrder(order)"
              class="cart"
            >
              <i class="ti-back-left"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-return-modal
  #returnModal
  [returnData]="selectedOrder"
  (reloadData)="onModalSave($event)"
></app-return-modal>
<!-- <div class="row wishlist-buttons" *ngIf='orders.length'>
      <div class="col-12">
        <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">continue shopping</a>
        <a [routerLink]="['/shop/checkout']" class="btn btn-solid">check out</a>
      </div>
    </div> -->
<!--section end-->
