<!-- <app-breadcrumb [title]="'sellercontent'" [breadcrumb]="'sellercontent'"></app-breadcrumb> -->
<!-- about section start -->
<section class="about-page  section-b-space" style="border-top: 1px solid #ab9898;
margin-top: 6px;">
    <div class="container" style="width:80%;">
        <div class="row">
            <!-- <div class="col-lg-12">
                <div class="banner-section">
                    <img  src="assets/images/about-main.jpg" class="img-fluid" alt="about-us"/>
                </div>
            </div> -->
            <b style="font-size:34px">{{'st-title' | translate}}</b>
                <!-- <h2>Our Team</h2> -->
            <div class="col-lg-12" style="border-top: 3px solid #ab9898;
            margin-top: 12px;">
            <br>
            <b style="font-size:24px;margin-top:6px;">{{'st-p1-h' | translate}}</b>
            <br>
            <br>
            <p>{{'st-p1-l1' | translate}}</p>
            <br>
            <p>{{'st-p1-l2' | translate}}</p>
            <p>{{'st-p1-l2-s' | translate}}</p>
            <br>
            <p>{{'st-p1-l3' | translate}}</p>
            <p>{{'st-p1-l3-s' | translate}}</p>
            <br>
            <p>{{'st-p1-l4' | translate}}</p>
            <p>{{'st-p1-l4-s' | translate}}</p>
            <br>
            <p>{{'st-p1-l5' | translate}}</p>
            <br>
            <p>{{'st-p1-l6' | translate}}</p>
            <p>{{'st-p1-l6-s' | translate}}
            </p>
            <br>
            <p>{{'st-p1-l7' | translate}}</p>
            <p>{{'st-p1-l7-s' | translate}}</p>
            <br>
            <p>{{'st-p1-l8' | translate}}</p>
            <br>
            <p>{{'st-p1-l9' | translate}}</p>
            <br>
            <div style="border-top: 1px solid #ab9898;
            margin-top: 6px;">
            <br>
            <b style="font-size:24px;margin-top:6px;">{{'st-p2-h' | translate}}</b>
            <br>
            <br>
            <p>{{'st-p2-l1' | translate}}</p>
            <br>
            <p>{{'st-p2-l2' | translate}}</p>
            <br>
            <p>{{'st-p2-l3' | translate}}</p>
            <br>
            <p>{{'st-p2-l4' | translate}}</p>
            <br>
        </div>
        <div style="border-top: 1px solid #ab9898;
        margin-top: 6px;">
        <br>
        <b style="font-size:24px;margin-top:6px;">{{'st-p3-h' | translate}}</b>
        <br>
        <br>
        <p>{{'st-p3-l' | translate}}</p>
        <br>
        <p>{{'st-p3-l1' | translate}}</p>
        <br>
        <p>{{'st-p3-l2' | translate}}</p>
        <br>
        <p>{{'st-p3-l3' | translate}}</p>
        <br>
        <p>{{'st-p3-l4' | translate}}</p>
        <br>
        <p>{{'st-p3-l5' | translate}}</p>
        <br>
        <p>{{'st-p3-l6' | translate}}</p>
        <br>
        <p>{{'st-p3-l7' | translate}}<br>     <a style= "margin-left:60px" href = "#">{{'st-p3-l7-l1' | translate}}</a>
        <br>
        <a style= "margin-left:60px" href = "#">{{'st-p3-l7-l2' | translate}}</a></p>
        <br>
  
    </div>
    <div style="border-top: 1px solid #ab9898;
    margin-top: 6px;">
    <br>
    <b style="font-size:24px;margin-top:6px;">{{'st-p4-h' | translate}}</b>
    <br>
    <br>
    <p>{{'st-p4-l1' | translate}}</p>
    <br>
    <p>{{'st-p4-l2' | translate}}</p>
    <br>
    <p>{{'st-p4-l3' | translate}}</p>
    <p>{{'st-p4-l3-l1' | translate}}</p>
    <p>{{'st-p4-l3-l2' | translate}}</p>
    <p>{{'st-p4-l3-l3' | translate}}</p>
    <p>{{'st-p4-l3-l4' | translate}}</p>
    <p>{{'st-p4-l3-l5' | translate}}</p>
    <br>
</div>
<div style="border-top: 1px solid #ab9898;
    margin-top: 6px;">
    <br>
    <b style="font-size:24px;margin-top:6px;">{{'st-p5-h' | translate}}</b>
    <br>
    <br>
    <p>{{'st-p5-l1' | translate}}</p>
    <br>
    <p>{{'st-p5-l2' | translate}}</p>
    <br>
    <p>{{'st-p5-l3' | translate}}</p>
    <br>
    <p>{{'st-p5-l4' | translate}}</p>
    <br>
    <p>{{'st-p5-l5' | translate}}</p>
    <br>
    <p>{{'st-p5-l6' | translate}}</p>
    <br>
</div>
<div style="border-top: 1px solid #ab9898;
    margin-top: 6px;">
    <br>
    <b style="font-size:24px;margin-top:6px;">{{'st-p6-h' | translate}}</b>
    <br>
    <br>
    <p>{{'st-p6-l1' | translate}}</p>
    <br>
    <p>{{'st-p6-l2' | translate}}</p>
    <br>
    <p>{{'st-p6-l3' | translate}}</p>
    <br>
</div>
<div style="border-top: 1px solid #ab9898;
    margin-top: 6px;">
    <br>
    <b style="font-size:24px;margin-top:6px;">{{'st-p7-h' | translate}}</b>
    <br>
    <br>
    <p>{{'st-p7-l1' | translate}}</p>
    <br>
    <p>{{'st-p7-l2' | translate}}</p>
    <br>
</div>
<div style="border-top: 1px solid #ab9898;
    margin-top: 6px;">
    <br>
    <b style="font-size:24px;margin-top:6px;">{{'st-p8-h' | translate}}</b>
    <br>
    <br>
    <p>{{'st-p8-l1' | translate}}</p>
    <br>
    <p>{{'st-p8-l2' | translate}}</p>
    <br>
    <p>{{'st-p8-l3' | translate}}</p>
    <br>
    <p>{{'st-p8-l4' | translate}}</p>
    <br>
    <p>{{'st-p8-l5' | translate}}</p>
    <br>
    <div style = "margin-left:50%">
        <button type="button"
            class="btn btn-outline-primary" routerLink="/pages/seller-signup">{{'openshop' | translate}}</button>
        </div>
</div>
            </div>
        </div>
    </div>
</section>
