p {
    color: black;
    text-indent: 30px;
    font-weight: 200;
  
  }

  button {
      
    border: 1px solid #435034;
    background: #435034;
    text-align: center;
    color: #fff;
    border-radius: 0 0 0 0;
    cursor: pointer;
    font-size: 13px;
    width: 30%;
  }