<!-- <div class="page-title">
  <h2>{{ "Return and Exchange" | translate }}</h2>
</div>
<div class="box">
  <div class="box-title">
    <h3>{{ "Parcel" | translate }}</h3>
    <a href="javascript:void(0)">Shipping</a>
  </div>

  <div class="mb-2">
    <div>
      <h4>{{ "Reason" | translate }}</h4>
      <select
        class="form-control"
        id="refund_reason"
        [(ngModel)]="refund_reason"
        name="refund_reason"
      >
        <option value="faulty">
          {{ "Mismatched items" | translate }}
        </option>
        <option value="faulty">{{ "Faulty items" | translate }}</option>
        <option value="faulty">{{ "Wrong size" | translate }}</option>
      </select>
    </div>
  </div>
  <div>
    <div>
      <h4>{{ "Description" | translate }}</h4>
      <div style="width: 100%">
        <textarea
          class="form-control"
          placeholder="{{ 'RefundReturnReason' | translate }}"
          id="exampleFormControlTextarea1"
          rows="6"
          [(ngModel)]="description"
          name="description"
        ></textarea>
      </div>
    </div>
  </div>
  <br />

  <div class="row-data-style">
    <div
      style="
        display: grid;
        width: -webkit-fill-available;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        grid-gap: 10px;
      "
    >
      <div *ngFor="let img of imgs">
        <img style="width: 50px; border-radius: 5px" [src]="img" alt="image" />
      </div>
      <div class="box-input-file">
        <input class="upload" type="file" (change)="readUrl($event)" />
        <img class="imgUpload" alt="" src="assets/images/add-image-icon.png" />
      </div>
    </div>
  </div>
  <br />
  <div>
    <div>
      <h4>{{ "Solution" | translate }}</h4>
      <div style="display: flex; align-items: center">
        <select
          class="form-control"
          id="solution"
          [(ngModel)]="solution"
          name="solution"
        >
          <option value="Return & Refund" title="Tooltip">
            {{ "Return & Refund" | translate }}
          </option>
          <option value="Refund Only">
            {{ "Refund Only" | translate }}
          </option>
        </select>
        <span
          class="ml-2"
          tooltipClass="custom-tooltip"
          placement="left"
          [ngbTooltip]="tipContent"
        >
          <app-feather-icons [icon]="'alert-circle'"></app-feather-icons>
        </span>
        <ng-template #tipContent>
          {{ "refund_note" | translate }} <br />
          <u>{{ "Return & Refund" | translate }}</u>
          {{ "returnAndrefund_note" | translate }} <br />
          <u>{{ "Refund Only" | translate }}</u>
          {{ "refundOnly_note" | translate }}
        </ng-template>
      </div>
    </div>
  </div>
  <br />
  <div class="row-data-style">
    <div>
      <h4>{{ "Refund Amount" | translate }}</h4>
      <div>Max RM 3.4</div>
      <div *ngIf="solution === 'Refund Only'">
        <input
          type="number"
          class="form-control"
          placeholder="Enter refundable amount"
          name="refund_amount"
          [(ngModel)]="refund_amount"
        />
      </div>
    </div>
    <a href="javascript:void(0)" style="text-align: end">Enter Refund Amount</a>
  </div>
  <div>
    <button class="btn btn-solid">{{ "Submit" | translate }}</button>
  </div>
</div> -->

<!--section start-->
<div class="page-title">
  <h2>{{ "Return and Exchange" | translate }}</h2>
</div>
<div
  class="col-md-12 empty-cart-cls text-center"
  *ngIf="!loading && !orders.length"
>
  <img
    src="assets/images/empty-wishlist.png"
    alt="Empty cart"
    title="Emprt cart"
  />
  <h3 class="mt-4">
    <b>{{ "Return Order List is Empty" | translate }}</b>
  </h3>
  <h4>
    {{ "You have not return any order." | translate }}
  </h4>
</div>
<div class="row" *ngIf="orders.length">
  <div class="col-sm-12">
    <table class="table cart-table table-responsive-xs">
      <thead>
        <tr class="table-head">
          <th scope="col">{{ "Order Id" | translate }}</th>
          <th scope="col">{{ "Return Type" | translate }}</th>
          <!-- <th scope="col">{{ "Product" | translate }}</th> -->
          <th scope="col">{{ "Request Reason" | translate }}</th>
          <th scope="col">{{ "Solution" | translate }}</th>
          <th scope="col">{{ "Status" | translate }}</th>
          <th scope="col">{{ "Requested Date" | translate }}</th>
          <th scope="col">{{ "Total" | translate }}</th>
          <!-- <th scope="col">{{ "Action" | translate }}</th> -->
        </tr>
      </thead>
      <tbody *ngFor="let order of orders">
        <tr>
          <td>
            <p>{{ order?.ordrId }}</p>
          </td>
          <td>
            <p>{{ order?.type }}</p>
          </td>
          <!-- <td>
            {{ getProdNames(order?.orderedProductDetails) }}
          </td> -->
          <td>
            <p>{{ order?.requestReason }}</p>
          </td>
          <td>
            <p>{{ order?.solution }}</p>
          </td>
          <td>
            <p>{{ order?.status }}</p>
          </td>
          <td>
            <p>{{ getFormatDate(order?.requestedOn) }}</p>
          </td>
          <td>
            <p>{{ order?.total }}</p>
          </td>
          <!-- <td>
            <a
              href="javascript:void(0)"
              (click)="returnOrder(order)"
              class="cart"
            >
              <i class="ti-back-left"></i>
            </a>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="row wishlist-buttons" *ngIf='orders.length'>
      <div class="col-12">
        <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">continue shopping</a>
        <a [routerLink]="['/shop/checkout']" class="btn btn-solid">check out</a>
      </div>
    </div> -->
<!--section end-->
