<div class="dashboard-right">
  <div class="dashboard">
    <div class="page-title">
      <h2>Return and Exchange</h2>
    </div>
    <div class="box">
      <div class="box-title">
        <h3>Parcel</h3>
        <a href="javascript:void(0)">Shipping</a>
      </div>
      <!-- <br /> -->
      <!-- reason -->
      <div class="row-data-style">
        <div>
          <h4>Reason</h4>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            ipsa facere, nemo modi nihil excepturi ullam quaerat culpa
            blanditiis excepturi, reiciendis iste!
          </div>
        </div>
        <div>
          <app-feather-icons [icon]="'chevron-right'"></app-feather-icons>
        </div>
      </div>
      <br />
      <!-- description -->
      <div class="row-data-style">
        <div>
          <h4>Description</h4>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        </div>
        <!-- <div>
        <app-feather-icons [icon]="'chevron-right'"></app-feather-icons>
      </div> -->
      </div>
      <br />
      <!-- Solution -->
      <div class="row-data-style">
        <div>
          <h4>Solution</h4>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        </div>
        <div>
          <app-feather-icons [icon]="'chevron-right'"></app-feather-icons>
        </div>
      </div>
      <br />
      <!-- Return & Exchange -->
      <div class="row-data-style">
        <div>
          <h4>Return & Exchange</h4>
          <div>refunf Amount $ 250</div>
        </div>
        <a href="javascript:void(0)" style="text-align: end"
          >Enter Refund Amount</a
        >
        <!-- <div>
        <app-feather-icons [icon]="'chevron-right'"></app-feather-icons>
      </div> -->
      </div>
    </div>
  </div>
</div>
