<!-- <app-breadcrumb [title]="'Collection'" [breadcrumb]="'Collection'"></app-breadcrumb> -->
<!-- section start -->
<section
  class="section-b-space"
  style="border-top: 1px solid #ab9898; margin-top: 6px; padding-top: 0px"
>
  <div class="collection-wrapper">
    <div class="container mt-4">
      <div
        style="
          width: 70%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 1.5%;
          padding-top: 1.5%;
          text-align: center;
        "
        class="top-banner-wrapper"
        *ngIf="campaign"
      >
        <a [routerLink]="['/pages/blog/details', campaign.id]">
          <img
            [src]="
              campaign.imageUrl
                ? campaign.imageUrl
                : 'assets/images/seller-sign.jpg'
            "
            class="img-fluid center"
            style="max-width: 700px; max-height: 300px; width: 100%"
            alt="campaign.name"
          />
          <p>{{ campaign.name }}</p>
        </a>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="collection-filter" [class.openFilterbar]="mobileSidebar">
            <!-- side-bar colleps block stat -->
            <div class="collection-filter-block">
              <div
                class="collection-mobile-back"
                (click)="toggleMobileSidebar()"
              >
                <span class="filter-back">
                  <i class="fa fa-angle-left" aria-hidden="true"></i> back
                </span>
              </div>
              <!-- Category filter start -->
              <app-categories></app-categories>
            </div>
            <!-- silde-bar colleps block end here -->
            <!-- side-bar colleps block stat -->
            <div class="collection-filter-block">
              <!-- brand filter start -->
              <!-- <app-brands [products]="products" [brands]="brands" (brandsFilter)="updateFilter($event)">
                            </app-brands> -->
              <!-- color filter start here -->
              <app-colors
                [products]="products"
                [colors]="colors"
                (colorsFilter)="updateFilter($event)"
              >
              </app-colors>
              <!-- size filter start here -->
              <app-size
                [products]="products"
                [size]="size"
                (sizeFilter)="updateFilter($event)"
              >
              </app-size>
              <!-- label filter start here -->
              <app-label [label]="label" (labelFilter)="updateFilter($event)">
              </app-label>
              <!-- shipping filter start here -->
              <div>
                <div
                  style="
                    position: relative;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: #444444;
                    font-weight: 600;
                    margin: 30px 0 0 0;
                    padding-bottom: 24px;
                  "
                >
                  Shipping
                </div>
                <div>
                  <input
                    type="radio"
                    name="shipping"
                    [value]="true"
                    id="international"
                    (change)="setShippingFilter($event, true)"
                    class=""
                  />
                  <label class="ml-2" for="international">International</label>
                </div>
                <div>
                  <input
                    type="radio"
                    name="shipping"
                    [value]="false"
                    id="local"
                    (change)="setShippingFilter($event, false)"
                    class=""
                  />
                  <label class="ml-2" for="local">Local</label>
                </div>
                <div>
                  <input
                    type="radio"
                    name="shipping"
                    [value]="null"
                    id="both"
                    (change)="setShippingFilter($event, null)"
                    class=""
                  />
                  <label class="ml-2" for="both">Both</label>
                </div>
              </div>
              <!-- price filter start here -->
              <app-price
                [min]="startPrice"
                [max]="endPrice"
                (priceFilter)="updateFilter($event)"
              >
              </app-price>
            </div>
            <!-- silde-bar colleps block end here -->
            <!-- side-bar single product slider start -->
            <!-- <app-product-box-vertical-slider [title]="'New Products'">
                        </app-product-box-vertical-slider> -->
            <!-- side-bar single product slider end -->
            <!-- side-bar banner start here -->
            <!-- <div class="collection-sidebar-banner">
                            <a [routerLink]="['/shop/collection/left/sidebar']">
                                <img src="assets/images/collection-sidebar-banner.png" class="img-fluid" alt="banner">
                            </a>
                        </div> -->
            <!-- side-bar banner end here -->
          </div>
        </div>
        <div class="collection-content col">
          <div class="page-main-content">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xl-12">
                    <div
                      class="filter-main-btn"
                      (click)="toggleMobileSidebar()"
                    >
                      <span class="filter-btn btn btn-theme">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filter
                      </span>
                    </div>
                  </div>
                </div>
                <ul class="product-filter-tags">
                  <li class="mr-1" *ngFor="let tag of tags">
                    <a href="javascript:void(0)" class="filter_tag">
                      {{ tag | translate }}
                      <i class="ti-close" (click)="removeTag(tag)"></i>
                    </a>
                  </li>
                  <li class="clear_filter" *ngIf="tags.length > 0">
                    <a
                      href="javascript:void(0)"
                      class="clear_filter"
                      (click)="removeAllTags()"
                    >
                      Clear all
                    </a>
                  </li>
                </ul>
                <div class="collection-product-wrapper" id="products">
                  <app-grid
                    [products]="products"
                    [paginate]="paginate"
                    [layoutView]="layoutView"
                    [sortBy]="sortBy"
                    (setGrid)="updateGridLayout($event)"
                    (setLayout)="updateLayoutView($event)"
                    (sortedBy)="sortByFilter($event)"
                  >
                  </app-grid>
                  <div class="product-wrapper-grid" [ngClass]="layoutView">
                    <div class="row">
                      <div
                        class="col-grid-box"
                        [ngClass]="grid"
                        *ngFor="let product of products"
                      >
                        <div class="product-box">
                          <app-product-box-one
                            [product]="product"
                            [currency]="productService?.Currency"
                            [thumbnail]="false"
                            [cartModal]="true"
                            [loader]="true"
                          >
                          </app-product-box-one>
                        </div>
                      </div>
                      <div
                        class="
                          col-sm-12
                          text-center
                          section-b-space
                          mt-5
                          no-found
                        "
                        *ngIf="!loader && !products.length"
                      >
                        <img
                          src="assets/images/empty-search.jpg"
                          class="img-fluid mb-4"
                        />
                        <h3>
                          Sorry! Couldn't find the product you were looking
                          For!!!
                        </h3>
                        <p>
                          Please check if you have misspelt something or try
                          searching with other words.
                        </p>
                        <a
                          [routerLink]="['/shop/collection/left/sidebar']"
                          class="btn btn-solid"
                          >continue shopping</a
                        >
                      </div>
                    </div>
                  </div>
                  <div *ngIf="products.length">
                    <app-pagination
                      [paginate]="paginate"
                      (setPage)="setPage($event)"
                    >
                    </app-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section End -->
