<app-breadcrumb
  [title]="product?.title"
  [breadcrumb]="'Product'"
></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12" *ngIf="campaign">
          <div
            style="
              width: 70%;
              display: block;
              margin-left: auto;
              margin-right: auto;
              padding-bottom: 1.5%;
              padding-top: 1.5%;
              text-align: center;
            "
            class="top-banner-wrapper"
          >
            <a [routerLink]="['/pages/blog/details', campaign.id]">
              <img
                [src]="
                  campaign.imageUrl
                    ? campaign.imageUrl
                    : 'assets/images/seller-sign.jpg'
                "
                class="img-fluid center"
                style="max-width: 700px; max-height: 300px; width: 100%"
                alt="campaign.name"
              />
              <p>{{ campaign.name }}</p>
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="collection-filter" [class.openFilterbar]="mobileSidebar">
            <div class="collection-filter-block">
              <div
                class="collection-mobile-back"
                (click)="toggleMobileSidebar()"
              >
                <span class="filter-back">
                  <i class="fa fa-angle-left" aria-hidden="true"></i> back
                </span>
              </div>
              <app-categories></app-categories>
            </div>
            <div class="collection-filter-block">
              <app-services></app-services>
            </div>
            <app-product-box-vertical-slider
              [title]="'New product'"
              [type]="product?.type"
            >
            </app-product-box-vertical-slider>
          </div>
        </div>
        <div class="col-lg-9 col-sm-12 col-xs-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-12">
                <div class="filter-main-btn mb-2">
                  <span class="filter-btn" (click)="toggleMobileSidebar()">
                    <i class="fa fa-bars" aria-hidden="true"></i> sidebar
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <owl-carousel-o
                  [options]="ProductDetailsMainSliderConfig"
                  #owlCar
                  class="product-slick"
                >
                  <ng-container
                    *ngFor="let image of product?.imageUrls; index as i"
                  >
                    <ng-template carouselSlide [id]="i">
                      <div>
                        <img
                          [defaultImage]="
                            'assets/images/product/placeholder.jpg'
                          "
                          [lazyLoad]="formatImage(image)"
                          [alt]="'product.name'"
                          class="img-fluid"
                        />
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
                <div class="col-12 p-0" *ngIf="product?.imageUrls.length > 1">
                  <div class="slider-nav">
                    <owl-carousel-o
                      [options]="ProductDetailsThumbConfig"
                      class="product-slick"
                    >
                      <ng-container
                        *ngFor="let image of product?.imageUrls; index as i"
                      >
                        <ng-template carouselSlide [id]="i">
                          <div
                            class="owl-thumb"
                            [class.active]="i == activeSlide"
                          >
                            <img
                              [defaultImage]="
                                'assets/images/product/placeholder.jpg'
                              "
                              [lazyLoad]="formatImage(image)"
                              [alt]="product.name"
                              class="img-fluid"
                              (click)="owlCar.to((activeSlide = i.toString()))"
                            />
                          </div>
                        </ng-template>
                      </ng-container>
                    </owl-carousel-o>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="slider-nav">
                    <div class="border-product">
                      <h6
                        class="product-title"
                        style="font-weight: 700; color: #222222"
                      >
                        Product Details
                      </h6>
                      <p>
                        {{ product?.description }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 rtl-text">
                <div class="product-right">
                  <h2>{{ product?.name }}</h2>
                  <app-rating
                    [rating]="product?.rating"
                    [readonly]="true"
                  ></app-rating>
                  <h4>
                    <del *ngIf="product?.markdownPrice">{{
                      product?.price * productService.Currency?.price
                        | currency: productService.Currency?.currency:"symbol"
                    }}</del>
                    <span>{{ product?.markdownPrice }}% off</span>
                  </h4>
                  <h3>
                    {{
                      (product?.price | discount: product) *
                        productService.Currency?.price
                        | currency: productService.Currency?.currency:"symbol"
                    }}
                    <h4
                      style="display: inline-block"
                      *ngIf="product?.discountBuy"
                    >
                      <span>
                        (Buy {{ product?.discountBuy }} & Get
                        {{ product?.discountGet }} free)
                      </span>
                    </h4>
                  </h3>
                  <ul
                    class="color-variant"
                    *ngIf="product?.availableColors.length"
                  >
                    <!-- <li
                      [class]="color"
                      [class.active]="selectedColor == color"
                      *ngFor="let color of product?.availableColors; index as i"
                      [ngStyle]="{ 'background-color': color }"
                      (click)="selectColor(color)"
                    ></li> -->
                    <h6 class="product-title size-text">select Color</h6>
                    <select
                      [(ngModel)]="selectedColor"
                      class="form-control"
                      style="height: 38px"
                    >
                      <option default>None</option>
                      <option
                        [value]="color"
                        *ngFor="let color of product?.availableColors"
                      >
                        {{ color | titlecase }}
                      </option>
                    </select>
                  </ul>
                  <!-- <ul
                    class="color-variant custom-color-container"
                    *ngIf="product?.customColours?.length"
                  >
                    <span>Custom Colours</span
                    ><br />
                    <li
                      [class]="color"
                      [class.active]="selectedColor == color"
                      *ngFor="let color of product?.customColours"
                      (click)="selectColor(color)"
                    >
                      {{ color | titlecase }}
                    </li>
                  </ul> -->
                  <div class="product-description border-product">
                    <h6
                      class="product-title size-text"
                      *ngIf="
                        product.availableSizes.length || product.customSize
                      "
                    >
                      select size
                      <span *ngIf="product?.customImageUrl">
                        <a
                          href="javascrip:void(0)"
                          (click)="SizeChart.openModal()"
                          >size chart</a
                        >
                      </span>
                    </h6>
                    <div
                      class="size-box"
                      *ngIf="
                        product.availableSizes.length || product.customSize
                      "
                    >
                      <select
                        [(ngModel)]="selectedSize"
                        class="form-control"
                        style="height: 38px"
                      >
                        <option default>None</option>
                        <option
                          [value]="size"
                          *ngFor="let size of product.availableSizes"
                        >
                          {{ size | titlecase }}
                        </option>
                      </select>
                      <!-- <ul>
                        <li
                          [class.active]="selectedSize == size"
                          *ngFor="let size of product.availableSizes"
                        >
                          <a
                            href="javascript:void(0)"
                            (click)="selectSize(size)"
                          >
                            {{ size | titlecase }}
                          </a>
                        </li>
                      </ul> -->
                      <!-- <ul *ngIf="product.customSize">
                        Custom Size
                        <br />
                        <li [class.active]="selectedSize == product.customSize">
                          <a
                            href="javascript:void(0)"
                            (click)="selectSize(product.customSize)"
                          >
                            {{ product.customSize | titlecase }}
                          </a>
                        </li>
                      </ul> -->
                    </div>
                    <h5
                      class="avalibility"
                      *ngIf="counter <= product?.quantity"
                    >
                      <span>In Stock: {{ product?.quantity }}</span>
                    </h5>
                    <app-stock-inventory
                      [stock]="product?.quantity"
                    ></app-stock-inventory>
                    <h5 class="avalibility" *ngIf="counter > product?.quantity">
                      <span>Out of Stock</span>
                    </h5>
                    <h6 class="product-title">quantity</h6>
                    <div class="qty-box">
                      <div class="input-group">
                        <span class="input-group-prepend">
                          <button
                            type="button"
                            class="btn quantity-left-minus"
                            data-type="minus"
                            (click)="decrement()"
                          >
                            <i class="ti-angle-left"></i>
                          </button>
                        </span>
                        <input
                          type="text"
                          name="quantity"
                          class="form-control input-number"
                          [value]="counter"
                          disabled
                        />
                        <span class="input-group-prepend">
                          <button
                            type="button"
                            class="btn quantity-right-plus"
                            data-type="plus"
                            (click)="increment()"
                          >
                            <i class="ti-angle-right"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="product-buttons">
                    <a
                      href="javascrip:void(0)"
                      class="btn btn-solid"
                      [class.disabled]="counter > product.stock"
                      (click)="addToCart(product)"
                      >add to cart</a
                    >
                    <a
                      href="javascrip:void(0)"
                      class="btn btn-solid"
                      [class.disabled]="counter > product.stock"
                      (click)="buyNow(product)"
                      >buy now</a
                    >
                  </div>
                  <div
                    class="product-buttons"
                    *ngIf="!product.isProductReported"
                  >
                    <a
                      style="
                        cursor: pointer;
                        color: blue;
                        text-decoration: underline;
                      "
                      (click)="reportProduct(product)"
                      >Report Product</a
                    >
                  </div>
                  <div class="border-product" *ngIf="product?.labels">
                    <span
                      class="badge badge-pill badge-secondary ml-1"
                      *ngFor="let label of product.labels"
                      >{{ label | titlecase }}</span
                    >
                  </div>
                  <p>
                    After payment, it will take approximately 3 business days to
                    prepare an ship this item (excluding holidays).
                  </p>
                  <div class="border-product" *ngIf="product?.promotions">
                    <h6 class="product-title">Promotions</h6>
                    <br />
                    <div [innerHTML]="product?.promotions"></div>
                  </div>
                  <!-- <div class="border-product">
                    <h6 class="product-title">product details</h6>
                    <p>{{ product?.description?.substring(0, 200) + "..." }}</p>
                  </div> -->
                  <div class="border-product">
                    <h6 class="product-title mb-2">About Seller</h6>
                    <div style="display: flex; align-items: center">
                      <div class="mr-1">
                        <img
                          style="width: 50px"
                          [src]="
                            product.sellerImage
                              ? product.sellerImage
                              : 'assets/images/review/1.jpg'
                          "
                          alt="seller-image"
                        />
                      </div>
                      <div>
                        <p>{{ product?.sellerEnglishFName }}</p>
                        <p>{{ product?.brandName }}</p>
                        <a
                          style="color: #777777"
                          href="javascript:void(0)"
                          [routerLink]="['/shop/designer', product.sellerId]"
                          >View Detail</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="border-product">
                    <h6 class="product-title">share it</h6>
                    <div class="product-icon">
                      <app-social></app-social>
                      <form class="d-inline-block">
                        <button
                          class="wishlist-btn"
                          (click)="addToWishlist(product)"
                        >
                          <i class="fa fa-heart"></i>
                          <span class="title-font">Add To WishList</span>
                        </button>
                      </form>
                    </div>
                  </div>
                  <!-- <div class="border-product">
                    <app-countdown [date]="'Apr 21 2021'"></app-countdown>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <section class="tab-product m-0">
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <ngb-tabset [type]="'tabs'" class="nav-material">
                  <!-- <ngb-tab>
                    <ng-template ngbTabTitle>Description</ng-template>
                    <ng-template ngbTabContent>
                      <p>{{ product.description }}</p>
                    </ng-template>
                  </ngb-tab> -->
                  <!-- <ngb-tab>
                    <ng-template ngbTabTitle>Video</ng-template>
                    <ng-template ngbTabContent>
                      <div class="mt-3 text-center">
                        <iframe
                          width="560"
                          height="315"
                          src="https://www.youtube.com/embed/BUWzX78Ye_8"
                          allow="autoplay; encrypted-media"
                          allowfullscreen
                        ></iframe>
                      </div>
                    </ng-template>
                  </ngb-tab> -->
                  <ngb-tab>
                    <ng-template ngbTabTitle>Review</ng-template>
                    <ng-template ngbTabContent>
                      <div
                        class="feedback-list-container"
                        *ngIf="product?.feedbacks"
                      >
                        <ul class="comment-section">
                          <li *ngFor="let fb of product?.feedbacks">
                            <div class="media">
                              <img
                                [src]="
                                  fb?.customer?.image
                                    ? fb?.customer?.image
                                    : 'assets/images/review/1.jpg'
                                "
                                alt="Generic placeholder image"
                              />
                              <div class="media-body">
                                <h6>
                                  {{ fb?.customer?.username }}
                                  <span
                                    >(
                                    {{ formatDate(fb?.creationTime) }} )</span
                                  >
                                  <span>
                                    <app-rating
                                      [rating]="fb?.rating"
                                      [readonly]="true"
                                    ></app-rating>
                                  </span>
                                  <!-- <span>( 12 Jannuary 2018 at 1:30AM )</span> -->
                                </h6>
                                <p class="p-title">{{ fb?.reviewTitle }}</p>
                                <p>
                                  {{ fb?.review }}
                                </p>
                                <!-- <ul class="comnt-sec">
                                  <li>
                                    <a href="#"
                                      ><i
                                        class="fa fa-thumbs-o-up"
                                        aria-hidden="true"
                                      ></i
                                      ><span>(14)</span></a
                                    >
                                  </li>
                                  <li>
                                    <a href="#">
                                      <div class="unlike">
                                        <i
                                          class="fa fa-thumbs-o-down"
                                          aria-hidden="true"
                                        ></i
                                        >(2)
                                      </div>
                                    </a>
                                  </li>
                                </ul> -->
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="mt-3 ml-2" *ngIf="!product?.feedbacks">
                        No reviews available
                      </div>
                      <form
                        class="theme-form"
                        *ngIf="
                          product?.isValidForFeedback && !product.feedbackExist
                        "
                      >
                        <div class="form-row">
                          <div>
                            <h5>Write Review</h5>
                          </div>
                          <div class="col-md-12">
                            <div class="media align-items-center">
                              <label class="mb-0">Rating</label>
                              <div class="media-body ml-3">
                                <app-rating
                                  [rating]="rating"
                                  (rateChange)="onRateChange($event)"
                                ></app-rating>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <label for="review">Review Title</label>
                            <input
                              type="text"
                              class="form-control"
                              id="review"
                              placeholder="Enter your Review Subjects"
                              [(ngModel)]="reviewTitle"
                              name="reviewTitle"
                              required
                            />
                          </div>
                          <div class="col-md-12">
                            <label for="review">Review Description</label>
                            <textarea
                              class="form-control"
                              placeholder="Wrire Your Testimonial Here"
                              id="exampleFormControlTextarea1"
                              rows="6"
                              [(ngModel)]="review"
                              name="review"
                            ></textarea>
                          </div>
                          <div class="col-md-12">
                            <button
                              class="btn btn-solid"
                              type="submit"
                              (click)="submitReview()"
                              [disabled]="!rating || !reviewTitle || !review"
                            >
                              Submit YOur Review
                            </button>
                          </div>
                        </div>
                      </form>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <app-related-product [type]="product?.type"></app-related-product>
</section>
<app-size-modal #sizeChart [product]="product"></app-size-modal>
<!-- Section ends -->

<!-- Report Product Modal -->
<app-report-product-modal
  #reportModal
  (reloadData)="onModalSave($event)"
></app-report-product-modal>
<!-- Report Product Modal Ends -->
