<app-breadcrumb
  [title]="'Dashboard'"
  [breadcrumb]="'Dashboard'"
></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="account-sidebar" (click)="ToggleDashboard()">
          <a href="javascript:void(0)" class="popup-btn">
            {{ "My Account" | translate }}
          </a>
        </div>
        <div class="dashboard-left" [class.open]="openDashboard">
          <div class="collection-mobile-back" (click)="ToggleDashboard()">
            <span class="filter-back">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              {{ "back" | translate }}
            </span>
          </div>
          <div class="block-content">
            <ul>
              <li [ngClass]="{ active: selectedMenu === 'account_info' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('account_info')"
                  >{{ "Account Info" | translate }}</a
                >
              </li>
              <li [ngClass]="{ active: selectedMenu === 'address_book' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('address_book')"
                  >{{ "Address Book" | translate }}</a
                >
              </li>
              <li [ngClass]="{ active: selectedMenu === 'my_orders' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('my_orders')"
                  >{{ "My Orders" | translate }}</a
                >
              </li>
              <li [ngClass]="{ active: selectedMenu === 'my_wishList' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('my_wishList')"
                  >{{ "My Wishlist" | translate }}</a
                >
              </li>
              <li [ngClass]="{ active: selectedMenu === 'news_letter' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('news_letter')"
                  >{{ "Newsletter" | translate }}</a
                >
              </li>
              <!-- <li [ngClass]="{ active: selectedMenu === 'my_account' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('my_account')"
                  >{{ "My Account" | translate }}</a
                >
              </li> -->
              <li [ngClass]="{ active: selectedMenu === 'return_exchange' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('return_exchange')"
                  >{{ "Return & Exchange" | translate }}</a
                >
              </li>
              <li [ngClass]="{ active: selectedMenu === 'credit_store' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('credit_store')"
                  >{{ "Credit Store" | translate }}</a
                >
              </li>
              <li [ngClass]="{ active: selectedMenu === 'coupons' }">
                <a href="javascript:void(0)" (click)="selectMenu('coupons')">{{
                  "Coupons" | translate
                }}</a>
              </li>
              <li [ngClass]="{ active: selectedMenu === 'notification' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('notification')"
                  >{{ "Notifications" | translate }}</a
                >
              </li>
              <li [ngClass]="{ active: selectedMenu === 'my-messages' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('my-messages')"
                  >{{ "My Messages" | translate }}</a
                >
              </li>
              <li [ngClass]="{ active: selectedMenu === 'change_pass' }">
                <a
                  href="javascript:void(0)"
                  (click)="selectMenu('change_pass')"
                  >{{ "Change Password" | translate }}</a
                >
              </li>
              <li class="last">
                <a href="javascript:void(0)" (click)="signOut()">{{
                  "Log Out" | translate
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="dashboard-right">
          <div class="dashboard">
            <app-order-list
              *ngIf="selectedMenu === 'my_orders'"
            ></app-order-list>
            <app-my-wishlist
              *ngIf="selectedMenu === 'my_wishList'"
            ></app-my-wishlist>
            <app-return-exchange
              *ngIf="selectedMenu === 'return_exchange'"
            ></app-return-exchange>
            <div *ngIf="selectedMenu === 'news_letter'">
              <div class="page-title">
                <h2>{{ "Newsletter Subscription" | translate }}</h2>
              </div>
              <div class="page-main-content">
                <div class="row">
                  <div style="background-color: #eeeeef" class="col-12 p-2">
                    <h5 class="text-success">{{ "Reminder" | translate }}</h5>
                    <p>
                      {{
                        "Email preferences can be changed anytime" | translate
                      }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h5 class="mt-3">
                      {{ "Manage Subscriptions" | translate }}
                    </h5>
                    <div *ngIf="userInfo?.isSubscribed">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="defaultCheck1"
                        />
                        <label
                          class="form-check-label mt-0"
                          for="defaultCheck1"
                        >
                          {{ "Unsubscribe" | translate }}
                        </label>
                      </div>
                      <div class="mt-4">
                        <button
                          type="button"
                          class="btn btn-solid"
                          (click)="unsubscribe()"
                        >
                          {{ "Save" | translate }}
                        </button>
                      </div>
                    </div>
                    <div *ngIf="!userInfo?.isSubscribed">
                      <button
                        type="button"
                        class="btn btn-solid"
                        (click)="subscribe()"
                      >
                        {{ "subscribe" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selectedMenu === 'account_info'">
              <div class="page-title">
                <h2>{{ "My Dashboard" | translate }}</h2>
              </div>
              <div class="welcome-msg">
                <p>{{ "Hello" | translate }}, {{ userInfo?.username }} !</p>
                <p>
                  {{ "dashboard_description" | translate }}
                </p>
              </div>
              <div class="box-account box-info">
                <div class="box-head">
                  <h2>{{ "Account Information" | translate }}</h2>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="box">
                      <div class="box-title">
                        <h3>{{ "Contact Information" | translate }}</h3>
                        <a
                          href="javascript:void(0)"
                          title="Profile Modal"
                          (click)="selectMenu('address_book')"
                          >{{ "Edit" | translate }}</a
                        >
                      </div>
                      <div class="box-content">
                        <div class="row align-items-center">
                          <div class="col-12 col-md-3">
                            <div class="img-container">
                              <img
                                [src]="
                                  profileImage
                                    ? profileImage
                                    : 'assets/images/user-placeholder.png'
                                "
                                alt="Avatar"
                                class="image img-fluid img-90 rounded-circle blur-up lazyloaded"
                              />
                              <div
                                class="middle"
                                (click)="openCropper(cropperModal)"
                              >
                                <div class="text">
                                  {{
                                    profileImage ? "Change Image" : "Add Image"
                                  }}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-9">
                            <h6>{{ userInfo?.username }}</h6>
                            <h6>{{ userInfo?.email }}</h6>
                            <h6>{{ userInfo?.phoneNumber }}</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="box">
                      <div class="box-title">
                        <h3>{{ "Newsletter" | translate }}</h3>
                        <a
                          href="javascript:void(0)"
                          (click)="selectMenu('news_letter')"
                          >{{ "Edit" | translate }}</a
                        >
                      </div>
                      <div class="box-content">
                        <p *ngIf="!userInfo?.isSubscribed">
                          {{
                            "You are currently not subscribed to any newsletter"
                              | translate
                          }}.
                        </p>
                        <p *ngIf="userInfo?.isSubscribed">
                          {{
                            "You have subscribed for the newsletter"
                              | translate
                          }}.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="box mt-4">
                    <div class="box-title">
                      <h3>{{ "Address Book" | translate }}</h3>
                      <a
                        href="javascript:void(0)"
                        (click)="selectMenu('address_book')"
                        >{{ "Manage Addresses" | translate }}</a
                      >
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <address>
                          <p *ngIf="!checkAddress">
                            {{
                              "You have not set a default billing address."
                                | translate
                            }}
                          </p>
                          <br />
                          <div class="row">
                            <div class="col-12">
                              <p><b>Address</b>: {{ userInfo?.address }}</p>
                            </div>
                            <div class="col-12 col-md-4">
                              <p><b>Country</b>: {{ userInfo?.country }}</p>
                            </div>
                            <div class="col-12 col-md-4">
                              <p><b>City</b>: {{ userInfo?.city }}</p>
                            </div>
                            <div class="col-12 col-md-4">
                              <p><b>State</b>: {{ userInfo?.regionState }}</p>
                            </div>
                            <div class="col-12 col-md-4">
                              <p><b>ZipCode</b>: {{ userInfo?.zipCode }}</p>
                            </div>
                            <div class="col-12 col-md-4">
                              <p><b>Flat/Plot</b>: {{ userInfo?.flatPlot }}</p>
                            </div>
                            <div class="col-12">
                              <p><b>Message</b>: {{ userInfo?.message }}</p>
                            </div>
                          </div>
                        </address>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selectedMenu === 'address_book'">
              <div class="page-title">
                <h2>{{ "Address Book" | translate }}</h2>
              </div>
              <div style="margin-bottom: 24px" class="row">
                <form class="theme-form col-12" [formGroup]="addressForm">
                  <div class="form-row">
                    <h5 style="font-weight: bold">
                      {{
                        "The following is your usual address, you can manage all
                      used purchase addresses here"
                          | translate
                      }}
                    </h5>

                    <div class="col-md-12">
                      <label for="name">{{ "username" | translate }}</label>
                      <input
                        style="width: 40%; height: 40px"
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder=""
                        required=""
                        formControlName="username"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="email">{{ "email" | translate }}</label>
                      <input
                        style="width: 40%; height: 40px"
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder=""
                        readonly
                        formControlName="email"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="name">{{ "Phone" | translate }}</label>
                      <input
                        style="width: 40%; height: 40px"
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder=""
                        formControlName="phoneNumber"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="address">{{ "Address" | translate }}</label>
                      <input
                        style="width: 40%; height: 40px"
                        type="text"
                        class="form-control"
                        id="address"
                        placeholder=""
                        required=""
                        formControlName="address"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="country">{{ "Country" | translate }}</label>
                      <!-- <input
                        style="width: 40%; height: 40px"
                        type="text"
                        class="form-control"
                        id="country"
                        placeholder=""
                        formControlName="country"
                      /> -->
                      <select
                        class="form-control"
                        style="width: 40%; height: 40px"
                        name="country"
                        formControlName="country"
                        id="country"
                      >
                        <option value="Hong Kong" selected>Hong Kong</option>
                        <option value="Macau">Macau</option>
                        <option value="Taiwan">Taiwan</option>
                        <option value="Japan">Japan</option>
                        <option value="China">China</option>
                        <option value="Singapore">Singapore</option>
                        <option value="South Korea">South Korea</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                    <div class="col-md-12" *ngIf="isOtherCountry">
                      <label for="otherCountry">{{
                        "Other Country" | translate
                      }}</label>
                      <input
                        style="width: 40%; height: 40px"
                        class="form-control"
                        id="otherCountry"
                        type="text"
                        name="otherCountry"
                        formControlName="otherCountry"
                        placeholder=""
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="city">{{ "City" | translate }}</label>
                      <input
                        style="width: 40%; height: 40px"
                        type="text"
                        class="form-control"
                        id="city"
                        placeholder=""
                        formControlName="city"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="state">{{
                        "State / Province / Region" | translate
                      }}</label>
                      <input
                        style="width: 40%; height: 40px"
                        type="text"
                        class="form-control"
                        id="state"
                        placeholder=""
                        formControlName="regionState"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="zipCode">{{
                        "Zip code / Postal code" | translate
                      }}</label>
                      <input
                        style="width: 40%; height: 40px"
                        type="text"
                        class="form-control"
                        id="zipCode"
                        placeholder=""
                        required=""
                        formControlName="zipCode"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="flatPlot">{{
                        "Flat/Plot" | translate
                      }}</label>
                      <input
                        style="width: 40%; height: 40px"
                        type="text"
                        class="form-control"
                        id="flatPlot"
                        placeholder=""
                        formControlName="flatPlot"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="message">{{ "Message" | translate }}</label>
                      <input
                        style="width: 40%; height: 40px"
                        type="text"
                        class="form-control"
                        id="message"
                        placeholder=""
                        formControlName="message"
                      />
                    </div>
                    <div class="col-12 mt-2">
                      <app-button
                        [loading]="loading"
                        [disabled]="false"
                        [btnText]="'Update'"
                        (onSubmit)="submitAddress()"
                      ></app-button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div *ngIf="selectedMenu === 'coupons'">
              <div class="page-title">
                <h2>{{ "Coupons" | translate }}</h2>
              </div>
              <div class="page-main-content">
                <!-- <div class="row">
                  <div class="col-sm-12" *ngIf="coupons.length > 0">
                    <h5>
                      {{ "There are 2 Coupons left" | translate
                      }}
                    </h5>
                  </div>
                </div> -->
                <div class="row">
                  <div *ngIf="!coupons.length">No coupons available</div>
                  <div class="col-12" *ngIf="coupons.length > 0">
                    <ul>
                      <li
                        style="display: block"
                        *ngFor="let coupon of coupons; let i = index"
                      >
                        <div class="coupon-container">
                          <p><b>Name:</b> {{ coupon?.couponTitle }}</p>
                          <p><b>Code:</b> {{ coupon?.couponCode }}</p>
                          <p><b>Key:</b> {{ coupon?.couponKey }}</p>
                          <p>
                            <b>Discount:</b
                            >{{ coupon?.discountType == "Fixed" ? "$" : ""
                            }}{{ coupon?.percentageOrFixedAmt
                            }}{{ coupon?.discountType == "Percent" ? "%" : "" }}
                          </p>
                        </div>
                        <div class="coupon-container">
                          <p><b>Usage Limit:</b> {{ coupon?.usageLimit }}</p>
                          <p>
                            <b>Used Count:</b> {{ coupon?.numberOfTimesUsed }}
                          </p>
                          <p><b>Min Spend:</b> {{ coupon?.minSpend }}</p>
                        </div>
                        <div>
                          <p>
                            <b>Validity:</b>
                            {{ getFormatDate(coupon?.startDate) }}
                            <b>-</b>
                            {{ getFormatDate(coupon?.endDate) }}
                          </p>
                        </div>
                        <hr *ngIf="i < coupons.length - 1" />
                      </li>
                    </ul>
                    <!-- <a href="javascript:void(0)">
                      <img
                        style="width: 70%; margin-top: 30px"
                        src="assets/images/coupon2.jpg"
                        class="img-fluid center"
                        alt=""
                      />
                    </a>
                    <a href="javascript:void(0)">
                      <img
                        style="width: 70%; margin-top: 30px"
                        src="assets/images/coupon1.jpg"
                        class="img-fluid center"
                        alt=""
                      />
                    </a> -->
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selectedMenu === 'credit_store'">
              <div class="page-title">
                <h2>{{ "Store Credits" | translate }}</h2>
              </div>
              <div class="page-main-content">
                <div class="row">
                  <div *ngIf="!credits" class="col-12">
                    No credits available
                  </div>
                  <div class="col-12" *ngIf="credits">
                    <ul>
                      <li style="display: block">
                        <div class="coupon-container">
                          <p><b>Store Credit Amount :</b> {{ credits }}</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selectedMenu === 'my-messages'">
              <div class="page-title">
                <h2>{{ "My Messages" | translate }}</h2>
              </div>
              <div class="page-main-content">
                <app-list-message></app-list-message>
              </div>
            </div>
            <div *ngIf="selectedMenu === 'notification'">
              <div class="page-title">
                <h2>{{ "Notifications" | translate }}</h2>
              </div>
              <div class="page-main-content">
                <div class="row" *ngIf="notifications.length">
                  <div
                    class="col-sm-12 notify-container"
                    *ngFor="let notify of notifications; let i = index"
                  >
                    <div class="notify-section">
                      <div>
                        <img
                          src="assets/images/user-placeholder.png"
                          alt="img here"
                          style="width: 50px"
                          class="image img-fluid rounded-circle blur-up lazyloaded"
                        />
                      </div>
                      <div class="notify-content">
                        <div class="notify-type">
                          <b>{{ formatType(notify?.type) }}</b>
                        </div>
                        <div
                          class="notify-text"
                          [innerHTML]="notify.text"
                        ></div>
                        <div>
                          <!-- <div>{{notify?.sender?.name}}</div> -->
                          <div class="notify-time">
                            {{ formatTime(notify?.creationTime) }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr *ngIf="i < notifications.length - 1" />
                  </div>
                </div>
                <div class="row" *ngIf="!notifications.length">
                  <div class="col-sm-12">
                    <p>No notification here</p>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selectedMenu === 'change_pass'">
              <div class="page-title">
                <h2>{{ "Change Password" | translate }}</h2>
              </div>
              <div class="page-main-content">
                <div class="row">
                  <div
                    style="border-bottom: 1px solid #eeeeef"
                    class="col-sm-12"
                  >
                    <div class="form-group">
                      <label for="new">{{
                        "Current Password" | translate
                      }}</label>
                      <input
                        type="password"
                        class="form-control"
                        id="new"
                        placeholder="{{ 'Enter current password' | translate }}"
                        [(ngModel)]="currentPassword"
                        name="currentPassword"
                      />
                    </div>
                    <div class="form-group">
                      <label for="new">{{ "New Password" | translate }}</label>
                      <input
                        type="password"
                        class="form-control"
                        id="new"
                        placeholder="{{ 'Enter new password' | translate }}"
                        [(ngModel)]="newPassword"
                        name="newPassword"
                        #newPass="ngModel"
                      />
                    </div>
                    <div class="form-group">
                      <label for="confirm">{{
                        "Confirm Password" | translate
                      }}</label>
                      <input
                        type="password"
                        class="form-control"
                        id="confirm"
                        placeholder="{{ 'Enter confirm password' | translate }}"
                        [(ngModel)]="confirmPassword"
                        name="confirmPassword"
                        #confirmPass="ngModel"
                      />
                      <span
                        *ngIf="
                          confirmPass.touched &&
                          newPassword &&
                          newPassword !== confirmPassword
                        "
                        style="color: red"
                      >
                        new and confirm password must be same
                      </span>
                    </div>
                    <button
                      class="btn btn-solid"
                      [disabled]="
                        !currentPassword ||
                        !newPassword ||
                        !confirmPassword ||
                        newPassword !== confirmPassword ||
                        loading
                      "
                      (click)="updatePassword()"
                    >
                      {{ "Change" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-profile-modal
    #profileModal
    [profileData]="userInfo"
    (reloadData)="fetchDataFromLS()"
  ></app-profile-modal>
</section>

<!-- section end -->

<!-- Cropper Modal -->
<ng-template #cropperModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cropper</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="main-container" ngbAutofocus>
      <div>
        <app-cropper
          [roundCropper]="true"
          (getImage)="getCroppedImage($event)"
        ></app-cropper>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <app-button
      [loading]="submittingPic"
      [disabled]="!tempProfileImage"
      [btnText]="'Save'"
      (onSubmit)="saveProfilePic()"
    ></app-button>
    <button
      class="btn btn-light"
      type="button"
      data-dismiss="modal"
      (click)="modal.dismiss('Cross click')"
    >
      Close
    </button>
  </div>
</ng-template>
<!-- Cropper Modal End -->
