button {
    padding: 7px 17px;
}
.form-control {
    height:32px!important
}
.control-label.required:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top: 0px;
  }
  .control {
    font-size: 22px;
  }
  
@media (max-width: 1430px) {
  .mar-img{
    width: 106%;
    right: 3%;
    position: relative;
    max-width: 2000%;
  }
  .ssup{
    width: 100%!important;
  }
}