<!-- <app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb> -->
<section
  class="section-b-space"
  style="border-top: 1px solid #ab9898; margin-top: 6px"
>
  <div class="container padding-cls">
    <div class="checkout-page">
      <div class="checkout-form">
        <form>
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-title">
                <h3>Billing Details</h3>
              </div>
              <div class="row check-out">
                <div
                  class="form-group col-md-6 col-sm-6 col-xs-12"
                  *ngIf="useraddress"
                >
                  <div style="margin-left: 20px">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="isSame"
                      name="isSame"
                      [(ngModel)]="isSame"
                      (ngModelChange)="changeisSameAddress($event)"
                    />
                    <label class="form-check-label" for="isSame">{{
                      "Select Saved address" | translate
                    }}</label>
                  </div>
                </div>
                <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">First Name</div>
                                    <input type="text" name="firstname"
                                        [formControl]="checkoutForm.controls['firstname']" value="" placeholder=""
                                        autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required"
                                        class="text text-danger">
                                        First Name is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern"
                                        class="text text-danger">
                                        First Name must be an alphabates.
                                    </div>
                                </div> -->
                <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Last Name </div>
                                    <input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required"
                                        class="text text-danger">
                                        Last Name is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern"
                                        class="text text-danger">
                                        Last Name must be an alphabates.
                                    </div>
                                </div> -->
                <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Phone</div>
                                    <input type="text" name="phone" [formControl]="checkoutForm.controls['phone']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required"
                                        class="text text-danger">
                                        Phone No is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.pattern"
                                        class="text text-danger">
                                        Phone No is must be number.
                                    </div>
                                </div> -->
                <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email Address</div>
                                    <input type="text" name="email" [formControl]="checkoutForm.controls['email']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required"
                                        class="text text-danger">
                                        Email is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.email"
                                        class="text text-danger">
                                        Invalid Email
                                    </div>
                                </div> -->
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Country</div>
                  <select
                    name="country"
                    [formControl]="checkoutForm.controls['country']"
                    id="country"
                  >
                    <option value="Hong Kong" selected>Hong Kong</option>
                    <option value="Macau">Macau</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Japan">Japan</option>
                    <option value="China">China</option>
                    <option value="Singapore">Singapore</option>
                    <option value="South Korea">South Korea</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Other">Other</option>
                  </select>
                  <div
                    *ngIf="
                      checkoutForm.controls.country.touched &&
                      checkoutForm.controls.country.errors?.required
                    "
                    class="text text-danger"
                  >
                    Country is required
                  </div>
                </div>
                <div
                  class="form-group col-md-12 col-sm-12 col-xs-12"
                  *ngIf="isOtherCountry"
                >
                  <div class="field-label">Enter Country Name</div>
                  <input
                    type="text"
                    name="otherCountry"
                    [formControl]="checkoutForm.controls['otherCountry']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.otherCountry.touched &&
                      checkoutForm.controls.otherCountry.errors?.required
                    "
                    class="text text-danger"
                  >
                    Country Name is required
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Address</div>
                  <input
                    type="text"
                    name="address"
                    [formControl]="checkoutForm.controls['address']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.address.touched &&
                      checkoutForm.controls.address.errors?.required
                    "
                    class="text text-danger"
                  >
                    Address is required
                  </div>
                  <div
                    *ngIf="
                      checkoutForm.controls.address.touched &&
                      checkoutForm.controls.address.errors?.maxlength
                    "
                    class="text text-danger"
                  >
                    Maximum 50 character
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Town/City</div>
                  <input
                    type="text"
                    name="town"
                    [formControl]="checkoutForm.controls['city']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.city.touched &&
                      checkoutForm.controls.city.errors?.required
                    "
                    class="text text-danger"
                  >
                    City is required
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                  <div class="field-label">State</div>
                  <input
                    type="text"
                    name="state"
                    [formControl]="checkoutForm.controls['state']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.state.touched &&
                      checkoutForm.controls.state.errors?.required
                    "
                    class="text text-danger"
                  >
                    State is required
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                  <div class="field-label">Postal Code</div>
                  <input
                    type="text"
                    name="postalcode"
                    [formControl]="checkoutForm.controls['postalcode']"
                    value=""
                    placeholder=""
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      checkoutForm.controls.postalcode.touched &&
                      checkoutForm.controls.postalcode.errors?.required
                    "
                    class="text text-danger"
                  >
                    Postalcode is required
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                  <div class="field-label">
                    Write Any Additional Notes To Seller
                  </div>
                  <!-- <input
                    type="text"
                    name="note"
                    [formControl]="checkoutForm.controls['note']"
                    value=""
                    placeholder="Write a Note to seller"
                    autocomplete="off"
                  /> -->
                  <textarea
                    rows="5"
                    name="note"
                    [formControl]="checkoutForm.controls['note']"
                    value=""
                    placeholder="Write a Note to seller"
                    autocomplete="off"
                  ></textarea>
                  <div
                    *ngIf="
                      checkoutForm.controls.note.touched &&
                      checkoutForm.controls.note.errors?.maxlength
                    "
                    class="text text-danger"
                  >
                    Max Note length is 250 characters
                  </div>
                </div>
              </div>
              <!-- <div class="row ">
                            <div class="col-12">
                              <div class="stripe-section">
                                <h5>stripe js</h5>
                                <div class="content">
                                  <h5>dummy test</h5>
                                  <table>
                                    <tr>
                                      <td>cart number</td>
                                      <td>4242424242424242</td>
                                    </tr>
                                    <tr>
                                      <td>mm/yy</td>
                                      <td>2/2020</td>
                                    </tr>
                                    <tr>
                                      <td>cvc</td>
                                      <td>2222</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row margin-cls">
                            <div class="col-12">
                              <div class="stripe-section">
                                <h5>paypal</h5>
                                <div class="content">
                                  <h5>dummy test</h5>
                                  <table>
                                    <tr>
                                      <td>cart number</td>
                                      <td>4152521541244</td>
                                    </tr>
                                    <tr>
                                      <td>mm/yy</td>
                                      <td>11/18</td>
                                    </tr>
                                    <tr>
                                      <td>cvc</td>
                                      <td>521</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div> -->
            </div>

            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-details">
                <div class="order-box">
                  <div class="title-box">
                    <div>Product <span> Total</span></div>
                  </div>
                  <ul class="qty" *ngIf="products.length">
                    <li *ngFor="let product of products">
                      {{ product?.name }} × {{ product?.quantity }}
                      <span>
                        {{
                          (product?.price | discount: product) *
                            productService?.Currency.price
                            | currency
                              : productService?.Currency.currency
                              : "symbol"
                        }}
                      </span>
                    </li>
                  </ul>
                  <ul class="qty" *ngIf="!products.length">
                    <li class="empty-checkout">
                      There are no products in cart
                    </li>
                  </ul>
                  <ul class="sub-total">
                    <li>
                      Subtotal
                      <span class="count">{{
                        getTotal
                          | async
                          | currency: productService?.Currency.currency:"symbol"
                      }}</span>
                    </li>
                    <li *ngIf="products.length">
                      Shipping
                      <div class="shipping">
                        <div class="shopping-option">
                          <input
                            type="radio"
                            [value]="false"
                            name="IsInternationalShipping"
                            [(ngModel)]="IsInternationalShipping"
                            id="free-shipping"
                          />
                          <label style="font-size: 14px" for="free-shipping"
                            >Local</label
                          >
                        </div>
                        <div class="shopping-option">
                          <input
                            type="radio"
                            name="IsInternationalShipping"
                            id="local-pickup"
                            [value]="true"
                            [(ngModel)]="IsInternationalShipping"
                          />
                          <label style="font-size: 14px" for="local-pickup"
                            >International</label
                          >
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="total">
                    <li>
                      Total
                      <span class="count">{{
                        getTotal
                          | async
                          | currency: productService?.Currency.currency:"symbol"
                      }}</span>
                    </li>
                  </ul>
                </div>

                <div class="payment-box" *ngIf="products.length">
                  <div class="upper-box">
                    <div class="payment-options">
                      <ul>
                        <!-- <li>
                          <div class="form-group">
                            <p class="field-label">
                              Write any additional notes to seller
                            </p>
                            <input
                              type="text"
                              name="field-name"
                              value=""
                              placeholder="Write a Note to seller"
                            />
                          </div>
                        </li> -->
                        <li>
                          <div class="radio-option">
                            <input
                              type="radio"
                              [(ngModel)]="payment"
                              [value]="'card'"
                              name="payment-group"
                              id="payment-2"
                            />
                            <label for="payment-2">Credit Card (Stripe) </label>
                            <span class="image"
                              ><img
                                style="padding-left: 17px; width: 141px"
                                src="assets/images/visa.png"
                                alt=""
                            /></span>
                          </div>
                        </li>
                        <li>
                          <div class="radio-option">
                            <input
                              type="radio"
                              [(ngModel)]="payment"
                              [value]="'alipay'"
                              name="payment-group"
                              id="alipay"
                            />
                            <label for="alipay">AliPay </label>
                            <span class="image"
                              ><img
                                style="padding-left: 11px; width: 67px"
                                src="assets/images/alipay_logo.png"
                                alt=""
                            /></span>
                          </div>
                        </li>
                        <li>
                          <div class="radio-option">
                            <input
                              type="radio"
                              [(ngModel)]="payment"
                              [value]="'Paypal'"
                              name="payment-group"
                              id="payment-3"
                            />
                            <label for="payment-3">FPS Payments </label>
                            <span class="image"
                              ><img
                                style="padding-left: 11px; width: 37px"
                                src="assets/images/fps.png"
                                alt=""
                            /></span>
                          </div>
                        </li>
                        <li style="margin-bottom: 0px">
                          <p style="font-size: 13px; line-height: 18px">
                            Please remit payment to the following FPS Account<br />FPS:
                            12345678<br />Li Hiu Fung
                          </p>
                          <br />
                          <p>&nbsp;</p>
                        </li>
                        <li
                          style="margin-bottom: 0px"
                          *ngIf="payment === 'Paypal'"
                        >
                          <div class="form-group">
                            <p class="field-label">
                              Please Enter FPS Reference Number
                            </p>
                            <input
                              type="text"
                              name="field-name"
                              value=""
                              placeholder="Reference Number"
                            />
                          </div>
                        </li>
                        <li>
                          <a
                            style="text-decoration: underline"
                            href="https://fps.hkicl.com.hk/eng/fps/consumers/overview.php"
                            target="_blank"
                            >How to use FPS payment?</a
                          >
                        </li>
                        <!-- <li>
                          <div class="radio-option">
                            <input
                              type="radio"
                              [(ngModel)]="payment"
                              [value]="'Stripe'"
                              name="payment-group"
                              id="payment-2"
                            />
                            <span class="image"
                              ><img
                                style="width: 100px; padding-left: 31px"
                                src="assets/images/payme.png"
                                alt=""
                            /></span>
                            <label for="payment-2"></label>
                          </div>
                        </li>
                        <li style="margin-bottom: 0px">
                          <p style="font-size: 13px; line-height: 18px">
                            Please remit payment to the following Payme
                            Account<br />PayMe: 12345678<br />Li Hiu Fung
                          </p>
                          <br />
                        </li> 
                        <li style="margin-bottom: 0px">
                          <div class="form-group">
                            <p class="field-label">
                              Please Enter Mobile Number
                            </p>
                            <input
                              type="text"
                              name="field-name"
                              value=""
                              placeholder="Phone Number"
                            />
                          </div>
                        </li>
                        <li>
                          <a
                            style="text-decoration: underline"
                            href="https://payme.hsbc.com.hk/en/personal"
                            target="_blank"
                            >How to use PayMe payment?</a
                          >
                        </li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="text-right">
                    <button
                      id="checkout-button"
                      class="btn-solid btn"
                      (click)="createOrderWithStripe()"
                      [disabled]="checkoutForm.invalid || products.length === 0"
                    >
                      Place Order
                    </button>
                    <!-- <button type="submit" class="btn-solid btn"
                                            (click)="couponGenerator()" >
                                            Place Order
                                        </button> -->
                    <!-- <ngx-paypal [config]="payPalConfig" *ngIf="payment == 'Paypal'"></ngx-paypal> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
