.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-primary {
background-color: #f2917e;
border-color: #f2917e;
border-radius: 35px;
margin-left: -17px;
}
@media (max-width: 600px) {
    #mce-EMAIL{
        width: 97%;
        margin-top: 4px;
        border-radius: 6%;
    }
    .btn-solid{
        position: relative;
        top: -3px;
        border-radius: 4px;
    }
    #follow{
        position: relative;
    bottom: 12px;
    }
    #get_r{
        position: relative;
    // bottom: 12px;
    }
    #l-img{
        width: 36%!important;
    }
    #con{
        position: relative;
        right: 14%;
    }
 }
 @media screen and (min-width: 480px){
    #hq{
            position:relative;
            right: 4%;
        }}
