<div class="icon-nav">
  <ul>
    <li id="hide">
      <a
        id="open"
        style="
          color: black;
          text-transform: capitalize;
          font-family: Helvetica, Arial, Heiti TCsans-serif;
          font-weight: 200;
        "
        class="btn btn-link"
        routerLink="/pages/store-intro"
      >
        {{ "openshop" | translate }}
      </a>
    </li>
    <li [hidden]="!menu" id="hide" class="loreg">
      <button
        style="
          color: black;
          text-transform: capitalize;
          border-color: black;
          font-family: Helvetica, Arial, Heiti TCsans-serif;
          font-weight: 200;
          background-color: white;
        "
        data-toggle="modal"
        data-target="#AddNewBattery"
        type="button"
        (click)="login(content)"
        class="btn btn-outline-primary"
      >
        {{ "login" | translate }}/{{ "register" | translate }}
      </button>
    </li>
    <li [hidden]="menu" class="onhover-div mobile-cart mobile-user">
      <div>
        <a href="javascript:void(0)" routerLink="/pages/dashboard"
          ><img
            src="assets/images/icon/profile.png"
            class="img-fluid"
            alt="dashboard"
          />
          <i class="ti-user"></i>
        </a>
      </div>
    </li>
    <li [hidden]="menu" class="onhover-div mobile-cart mobile-notify">
      <div>
        <a
          href="javascript:void(0)"
          routerLink="/pages/dashboard"
          [queryParams]="{ page: 'notification' }"
        >
          <img
            src="assets/images/icon/bell.png"
            class="img-fluid"
            alt="notification"
          />
          <i class="ti-bell"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{
        signalRService.notifications.length
      }}</span>
    </li>
    <li [hidden]="menu" class="onhover-div mobile-cart mobile-heart">
      <div>
        <a
          href="javascript:void(0"
          routerLink="/pages/dashboard"
          [queryParams]="{ page: 'my_wishList' }"
        >
          <img
            src="assets/images/icon/heart.png"
            class="img-fluid"
            alt="wishlist"
          />
          <i class="ti-heart"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{ wishlists.length }}</span>
    </li>
    <!-- <li class="onhover-div mobile-setting" [hidden]="!lan">
      <button style="color: black;text-transform:capitalize;border-color: black;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200;;background-color: white;" (click)="changelan();changeLanguage('zh-Hant')" type="button"
        class="btn btn-outline-primary">繁體中文</button>
    </li>
    <li class="onhover-div mobile-setting" [hidden]="lan">
      <button style="color: black;text-transform:capitalize;border-color: black;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200;;background-color: white;" (click)="changelan();changeLanguage('en')" type="button"
        class="btn btn-outline-primary">English</button>
    </li> -->
    <li class="onhover-div mobile-search search-widgets" id="search">
      <div>
        <img src="assets/images/icon/search.png" class="img-fluid" alt="" />
        <i class="ti-search"></i>
      </div>
    </li>
    <li class="onhover-div mobile-cart mobile-my-cart">
      <div>
        <a [routerLink]="['/shop/cart']">
          <img src="assets/images/icon/cart.png" class="img-fluid" alt="" />
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{ products.length }}</span>
    </li>
  </ul>
</div>
<div>
  <ng-template #content let-modal style="width: 560px">
    <div style="position: absolute; right: 10px; z-index: 1000">
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div [hidden]="default">
      <div class="modal-header" style="padding: 1.5rem 1.5rem">
        <a id="loginLogo">
          <img [src]="loginLogo" class="img-fluid" alt="logo" />
        </a>
      </div>
      <!-- <div class="modal-body">
        <p style="text-align: center">{{ "login-ln-1" | translate }}</p>
        <div id="social">
          <a (click)="tryFacebookLogin()" class="facebookBtn smGlobalBtn">
            <a href="#"></a>
          </a>
          <a
            (click)="tryGoogleLogin()"
            style="margin-left: 7%"
            class="googleBtn smGlobalBtn"
          ></a>
        </div>
      </div>
      <div class="modal-body">
        <p style="text-align: center">{{ "login-ln-2" | translate }}</p>
      </div> -->

      <div
        class="modal-footer"
        style="justify-content: space-evenly !important"
      >
        <button
          style="
            color: black;
            text-transform: capitalize;
            border-color: black;
            font-family: Helvetica, Arial, Heiti TCsans-serif;
            font-weight: 200;
            background-color: white;
            width: 115px;
          "
          data-toggle="modal"
          data-target="#AddNewBattery"
          type="button"
          (click)="default = true; logi = false"
          class="btn btn-outline-primary"
        >
          {{ "login" | translate }}
        </button>
        <button
          style="
            color: black;
            text-transform: capitalize;
            border-color: black;
            font-family: Helvetica, Arial, Heiti TCsans-serif;
            font-weight: 200;
            background-color: white;
            width: 115px;
            /* margin-right: 107px; */
          "
          data-toggle="modal"
          data-target="#AddNewBattery"
          type="button"
          (click)="default = true; register = false"
          class="btn btn-outline-primary"
        >
          {{ "register" | translate }}
        </button>
      </div>
    </div>
    <div [hidden]="logi">
      <div class="col-lg-12">
        <a id="themeLogo">
          <img
            style="
              margin-left: 26%;
              margin-bottom: 7%;
              margin-top: 15%;
              width: 40%;
            "
            [src]="themeLogo"
            class="img-fluid"
            alt="logo"
          />
        </a>
        <h3 style="text-align: center" *ngIf="!forgotPass">
          Log in with Marketoo account
        </h3>
        <h3 style="text-align: center" *ngIf="forgotPass">
          Forgot Marketoo account
        </h3>
        <div class="modal-body">
          <div class="theme-card">
            <form class="theme-form" [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">{{ "email" | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="{{ 'email' | translate }}"
                  formControlName="email"
                  required=""
                  placeholder="{{ 'email' | translate }}"
                />
                <div
                  *ngIf="
                    loginForm.controls.email.touched &&
                    loginForm.controls.email.errors?.required
                  "
                  class="text text-danger"
                >
                  {{ "email_req" | translate }}
                </div>
                <div
                  *ngIf="
                    loginForm.controls.email.touched &&
                    loginForm.controls.email.errors?.pattern
                  "
                  class="text text-danger"
                >
                  {{ "email_invalid" | translate }}
                </div>
              </div>
              <div class="form-group" *ngIf="!forgotPass">
                <label for="review">{{ "password" | translate }}</label>
                <input
                  type="password"
                  class="form-control"
                  id="review"
                  formControlName="password"
                  placeholder="{{ 'password' | translate }}"
                  required=""
                />
                <div
                  *ngIf="
                    loginForm.controls.password.touched &&
                    loginForm.controls.password.errors?.required
                  "
                  class="text text-danger"
                >
                  {{ "password_req" | translate }}
                </div>
              </div>
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                "
              >
                <a
                  style="cursor: pointer; color: blue"
                  (click)="default = false; logi = true"
                  >Back to previous page</a
                >
                <a
                  *ngIf="!forgotPass"
                  style="cursor: pointer; color: blue"
                  (click)="forgotPass = true"
                  >Forgot password</a
                >
                <a
                  *ngIf="forgotPass"
                  style="cursor: pointer; color: blue"
                  (click)="forgotPass = false"
                  >Login</a
                >
              </div>
              <div class="text-center mt-2" *ngIf="!forgotPass">
                <app-button
                  [btnType]="'submit'"
                  [loading]="loginLoading"
                  [disabled]="loginForm.invalid"
                  [btnText]="'Login'"
                  (onSubmit)="tryLogin()"
                ></app-button>
              </div>
              <div class="text-center mt-2" *ngIf="forgotPass">
                <app-button
                  [btnType]="'submit'"
                  [loading]="reseting"
                  [disabled]="loginForm.controls.email.invalid"
                  [btnText]="'Reset Password'"
                  (onSubmit)="resetPassword()"
                ></app-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Reset password -->
    <div [hidden]="!renewPass">
      <div class="col-lg-12">
        <a id="themeLogo">
          <img
            style="
              margin-left: 26%;
              margin-bottom: 7%;
              margin-top: 15%;
              width: 40%;
            "
            [src]="themeLogo"
            class="img-fluid"
            alt="logo"
          />
        </a>
        <h3 style="text-align: center">Reset Password</h3>
        <div class="modal-body">
          <div class="theme-card">
            <form class="theme-form" [formGroup]="resetForm">
              <div class="form-group">
                <label for="otp">{{ "otp" | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="otp"
                  placeholder="{{ 'opt' | translate }}"
                  formControlName="otp"
                  required
                />
                <div
                  *ngIf="
                    resetForm.controls.otp.touched &&
                    resetForm.controls.otp.errors?.required
                  "
                  class="text text-danger"
                >
                  {{ "otp_req" | translate }}
                </div>
              </div>
              <div class="form-group">
                <label for="review">{{ "password" | translate }}</label>
                <input
                  type="password"
                  class="form-control"
                  id="review"
                  formControlName="password"
                  placeholder="{{ 'password' | translate }}"
                  required=""
                />
                <div
                  *ngIf="
                    resetForm.controls.password.touched &&
                    resetForm.controls.password.errors?.required
                  "
                  class="text text-danger"
                >
                  {{ "password_req" | translate }}
                </div>
              </div>
              <div class="form-group">
                <label for="confirm-pass">{{
                  "confirm_password" | translate
                }}</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirm-pass"
                  formControlName="confirmPassword"
                  placeholder="{{ 'confirm_password' | translate }}"
                  required=""
                />
                <div
                  *ngIf="
                    resetForm.controls.confirmPassword.touched &&
                    resetForm.controls.confirmPassword.errors?.required
                  "
                  class="text text-danger"
                >
                  {{ "confirm_password_req" | translate }}
                </div>
                <div *ngIf="pass !== confirmPass" class="text text-danger">
                  {{ "confirm_password_valid" | translate }}
                </div>
              </div>
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                "
              >
                <a
                  style="cursor: pointer; color: blue"
                  (click)="
                    default = false;
                    forgotPass = false;
                    logi = true;
                    renewPass = false
                  "
                  >Back to previous page</a
                >
                <a
                  *ngIf="forgotPass"
                  style="cursor: pointer; color: blue"
                  (click)="logi = false; forgotPass = false; renewPass = false"
                  >Login</a
                >
              </div>
              <div class="text-center mt-2">
                <app-button
                  [btnType]="'submit'"
                  [loading]="reseting"
                  [disabled]="resetForm.invalid"
                  [btnText]="'Save'"
                  (onSubmit)="RenewPassword()"
                ></app-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Reset password end -->
    <div [hidden]="register">
      <div class="col-lg-12">
        <a id="themeLogo">
          <img
            style="
              margin-left: 26%;
              margin-bottom: 7%;
              margin-top: 5%;
              width: 40%;
            "
            [src]="themeLogo"
            class="img-fluid"
            alt="logo"
          />
        </a>
        <h3 style="text-align: center">Sign up for a Marketoo account</h3>
        <div class="modal-body">
          <div class="theme-card">
            <form class="theme-form" [formGroup]="signupForm">
              <div class="form-group">
                <label for="email">{{ "Marketoo account" | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="{{ 'username' | translate }}"
                  formControlName="username"
                  required=""
                />
                <div
                  *ngIf="
                    signupForm.controls.username.touched &&
                    signupForm.controls.username.errors?.required
                  "
                  class="text text-danger"
                >
                  {{ "username_req" | translate }}
                </div>
              </div>
              <div class="form-group">
                <label for="email">{{ "email" | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="{{ 'email' | translate }}"
                  formControlName="email"
                  required=""
                  placeholder="{{ 'email' | translate }}"
                />
                <div
                  *ngIf="
                    signupForm.controls.email.touched &&
                    signupForm.controls.email.errors?.required
                  "
                  class="text text-danger"
                >
                  {{ "email_req" | translate }}
                </div>
                <div
                  *ngIf="
                    signupForm.controls.email.touched &&
                    signupForm.controls.email.errors?.pattern
                  "
                  class="text text-danger"
                >
                  {{ "email_invalid" | translate }}
                </div>
              </div>
              <div class="form-group">
                <label for="review">{{ "password" | translate }}</label>
                <input
                  type="password"
                  class="form-control"
                  id="review"
                  placeholder="{{ 'password' | translate }}"
                  formControlName="password"
                  required=""
                />
                <div
                  *ngIf="
                    signupForm.controls.password.touched &&
                    signupForm.controls.password.errors?.required
                  "
                  class="text text-danger"
                >
                  {{ "password_req" | translate }}
                </div>
              </div>
              <a
                style="cursor: pointer; padding-left: 31%; color: blue"
                (click)="default = false; register = true"
                >Back to previous page</a
              >
              <!-- <button
                style="width: 46%; margin-left: 25%; margin-top: 10%"
                class="btn btn-solid"
                [disabled]="signupForm.invalid"
                (click)="createCustomer()"
              >
                {{ "register" | translate }}
              </button> -->
              <div class="text-center mt-2">
                <app-button
                  [btnType]="'submit'"
                  [loading]="signupLoading"
                  [disabled]="signupForm.invalid"
                  [btnText]="'register'"
                  (onSubmit)="createCustomer()"
                ></app-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
