<div class="icon-nav">
  <ul>
    <li id="hide">
      <button style="color: black;text-transform:capitalize;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200" type="button" class="btn btn-link">{{ 'openshop' | translate }}</button>
    </li>
    <li id="hide">
      <button style="color: black;text-transform:capitalize;border-color: black;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200;;background-color: white;" data-toggle="modal" data-target="#AddNewBattery" type="button"
        (click)="login(content)" class="btn btn-outline-primary">{{ 'login/register' | translate }}</button>
    </li>
    <!-- <li class="onhover-div mobile-setting" [hidden]="!lan">
      <button style="color: black;text-transform:capitalize;border-color: black;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200;;background-color: white;" (click)="changelan();changeLanguage('zh-Hant')" type="button"
        class="btn btn-outline-primary">繁體中文</button>
    </li>
    <li class="onhover-div mobile-setting" [hidden]="lan">
      <button style="color: black;text-transform:capitalize;border-color: black;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200;;background-color: white;" (click)="changelan();changeLanguage('en')" type="button"
        class="btn btn-outline-primary">English</button>
    </li> -->
    <li class="onhover-div mobile-search search-widgets" id="search">
      <div>
        <img src="assets/images/icon/search.png" class="img-fluid" alt="">
        <i class="ti-search"></i>
      </div>
    </li>
    <li class="onhover-div mobile-cart">
      <div>
        <a [routerLink]="['/shop/cart']">
          <img src="assets/images/icon/cart.png" class="img-fluid" alt="">
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{ products.length }}</span>
    </li>
  </ul>
</div>
<div>

  <ng-template #content let-modal style="width: 560px;">
    <div class="modal-header">
      <a id="loginLogo">
        <img [src]="loginLogo" class="img-fluid" alt="logo">
      </a>
    </div>
    <div class="modal-body">
      <p style="text-align: center;">Continue with one of the accounts below</p>
      <div id="social"><a class="facebookBtn smGlobalBtn" href="#">
          <a href="#"></a>
        </a>
        <a style="    margin-left: 7%;" class="googleBtn smGlobalBtn" href="#"></a>
      </div>
    </div>
    <div class="modal-body">
      <p style="text-align: center;">Or use your Marketoo account</p>
    </div>

    <div class="modal-footer">
      <button style="color: black;text-transform:capitalize;border-color: black;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200;;background-color: white;width: 115px;" data-toggle="modal" data-target="#AddNewBattery"
        type="button" class="btn btn-outline-primary">Login</button>
      <button style="color: black;text-transform:capitalize;border-color: black;font-family: Helvetica,Arial,Heiti TCsans-serif;
         font-weight: 200;;background-color: white;width: 115px;    margin-right: 107px;" data-toggle="modal"
        data-target="#AddNewBattery" type="button" class="btn btn-outline-primary">Register</button>
    </div>

  </ng-template>