<div class="icon-nav">
  <ul>
    <li id="hide">
      <button style="color: black;text-transform:capitalize;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200" type="button" class="btn btn-link">{{ text.openshop | translate }}</button>
    </li>
    <li id="hide">
      <button style="color: black;text-transform:capitalize;border-color: black;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200;;background-color: white;" type="button" class="btn btn-outline-primary">Login/Register</button>
    </li>
    <li class="onhover-div mobile-setting" [hidden]="!lan">
      <button style="color: black;text-transform:capitalize;border-color: black;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200;;background-color: white;" (click)="changelan();changeLanguage('zh-Hant')" type="button"
        class="btn btn-outline-primary">繁體中文</button>
    </li>
    <li class="onhover-div mobile-setting" [hidden]="lan">
      <button style="color: black;text-transform:capitalize;border-color: black;font-family: Helvetica,Arial,Heiti TCsans-serif;
      font-weight: 200;;background-color: white;" (click)="changelan();changeLanguage('en')" type="button"
        class="btn btn-outline-primary">Eng</button>
    </li>
    <li class="onhover-div mobile-search search-widgets" id="search">
      <div>
        <img src="assets/images/icon/search.png" class="img-fluid" alt="">
        <i class="ti-search"></i>
      </div>
    </li>
    <li class="onhover-div mobile-cart">
      <div>
        <a [routerLink]="['/shop/cart']">
          <img src="assets/images/icon/cart.png" class="img-fluid" alt="">
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{ products.length }}</span>
    </li>
  </ul>
</div>