@media (max-width: 600px) {
  #gift {
    right: 17% !important;
  }
}

.gift-ul {
  margin: 20px;
  li {
    display: list-item;
  }
}

.link-text {
  color: blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
