<!-- tap to top -->
<div class="row">
<div class="tap-top top-cls col-lg-6" (click)="tapToTop()" 
	[ngStyle]="{ 'display': show ? 'block' : 'none' }">
    
      <i class="fa fa-angle-double-up"></i>
</div>
<div class="tap-top top-cls col-lg-6" style="right: 6%;background-color: #f2917e;" id="gift" 
	[ngStyle]="{ 'display': show ? 'block' : 'none' }">
    
      <!-- <i class="fa fa-angle-double-up"></i> -->
      <i style="color: white;font-size: 24px;" class="fa fa-gift"></i>
</div> 
</div> 

<!-- tap to top -->