::ng-deep header .main-navbar .nav-menu > li > a {
  padding-right: 55px !important;
}

::ng-deep .mega-menu-container {
  opacity: 0.9;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #f8f9fa !important;
}
