<!-- <app-breadcrumb [title]="'Collection'" [breadcrumb]="'Collection'"></app-breadcrumb> -->
<!-- section start -->
<section
  class="section-b-space"
  style="border-top: 1px solid #ab9898; margin-top: 6px; padding-top: 0px"
>
  <div class="collection-wrapper">
    <div class="container">
      <div
        style="
          width: 100%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 2%;
        "
        class="top-banner-wrapper"
      >
        <a [routerLink]="['/shop/collection/left/sidebar']">
          <img
            src="assets/images/Designer.jpg"
            class="img-fluid center"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-12" style="margin-bottom: 2%">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-3 col-lg-2">
            <img
              style="width: 100%"
              [src]="
                sellerInfo?.image
                  ? formatImage(sellerInfo.image)
                  : 'assets/images/vs.jpg'
              "
              alt="seller logo"
            />
          </div>
          <div class="col-6 col-sm-6 col-md-5 col-lg-4">
            <h3 style="font-weight: 600; color: black">
              {{ sellerInfo?.shopName }}
            </h3>
            <ul>
              <li>
                <p>
                  <i class="fa fa-map-marker"></i>
                  {{ sellerInfo?.shopLocation }}
                </p>
              </li>
              <li>
                <p><i class="fa fa-calendar"></i> Opening date 2015-01-20</p>
              </li>
            </ul>
            <ul>
              <li
                class="designer-rating"
                style="width: 122px; margin-bottom: 10px; margin-left: 6px"
              >
                <app-rating
                  [rating]="sellerInfo?.totalProductsLikes"
                  [readonly]="true"
                  [type]="'heart'"
                >
                </app-rating>
                {{ sellerInfo?.totalProductsLikes }}
              </li>
            </ul>
            <ul>
              <li>
                <p>Goods</p>
              </li>
              <li>
                <p>Number of sold</p>
              </li>
              <li>
                <p>Followers</p>
              </li>
            </ul>
            <ul>
              <li>
                <p style="color: black; margin-left: 16px">
                  {{ sellerInfo?.totalProducts }}
                </p>
              </li>
              <li>
                <p style="color: black; margin-left: 38px">
                  {{ sellerInfo?.totalSoldProducts }}
                </p>
              </li>
              <li>
                <p style="color: black; margin-left: 53px">
                  {{ sellerInfo?.totalFollowers }}
                </p>
              </li>
            </ul>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <button type="submit" class="searchButton" (click)="followSeller()">
              <i style="color: white" class="fa fa-plus"></i>
              Follow Designer
            </button>
            <div class="footer-social">
              <ul>
                <li style="padding-right: 19px">
                  <p>Share it</p>
                </li>
                <li style="padding-right: 19px">
                  <a href="javascript:void(0)"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li style="padding-right: 19px">
                  <a href="javascript:void(0)"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4">
            <button
              style="
                color: black;
                text-transform: capitalize;
                border-color: black;
                font-family: Helvetica, Arial, Heiti TCsans-serif;
                font-weight: 200;
                background-color: white;
                width: 160px;
                margin-left: 58%;
                margin-bottom: 8%;
              "
              data-toggle="modal"
              data-target="#AddNewBattery"
              type="button"
              class="btn btn-outline-primary"
            >
              <i class="fa fa-address-card"></i> Contact Designer
            </button>
            <ul>
              <li>
                <p>Response rate</p>
              </li>
              <li>
                <p>Average shipment speed</p>
              </li>
            </ul>
            <ul>
              <li>
                <p style="color: black; margin-left: 16px">80%</p>
              </li>
              <li>
                <p style="color: black; margin-left: 53px">
                  {{ sellerInfo?.averageShippingDays }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="collection-filter" [class.openFilterbar]="mobileSidebar">
            <!-- side-bar colleps block stat -->
            <div class="collection-filter-block">
              <div
                class="collection-mobile-back"
                (click)="toggleMobileSidebar()"
              >
                <span class="filter-back">
                  <i class="fa fa-angle-left" aria-hidden="true"></i> back
                </span>
              </div>
              <!-- Category filter start -->
              <app-categories></app-categories>
            </div>
            <!-- silde-bar colleps block end here -->
            <!-- side-bar colleps block stat -->
            <div class="collection-filter-block">
              <!-- brand filter start -->
              <!-- <app-brands
                [products]="products"
                [brands]="brands"
                (brandsFilter)="updateFilter($event)"
              >
              </app-brands> -->
              <!-- color filter start here -->
              <app-colors
                [products]="products"
                [colors]="colors"
                (colorsFilter)="updateFilter($event)"
              >
              </app-colors>
              <!-- size filter start here -->
              <app-size
                [products]="products"
                [size]="size"
                (sizeFilter)="updateFilter($event)"
              >
              </app-size>
              <!-- price filter start here -->
              <app-price
                [min]="minPrice"
                [max]="maxPrice"
                (priceFilter)="updateFilter($event)"
              >
              </app-price>
            </div>
            <!-- silde-bar colleps block end here -->
            <!-- side-bar single product slider start -->
            <!-- <app-product-box-vertical-slider [title]="'New Products'">
                        </app-product-box-vertical-slider> -->
            <!-- side-bar single product slider end -->
            <!-- side-bar banner start here -->
            <!-- <div class="collection-sidebar-banner">
                            <a [routerLink]="['/shop/collection/left/sidebar']">
                                <img src="assets/images/collection-sidebar-banner.png" class="img-fluid" alt="banner">
                            </a>
                        </div> -->
            <!-- side-bar banner end here -->
          </div>
        </div>
        <div class="collection-content col">
          <div class="page-main-content">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xl-12">
                    <div
                      class="filter-main-btn"
                      (click)="toggleMobileSidebar()"
                    >
                      <span class="filter-btn btn btn-theme">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filter
                      </span>
                    </div>
                  </div>
                </div>
                <ul class="product-filter-tags">
                  <li class="mr-1" *ngFor="let tag of tags">
                    <a href="javascript:void(0)" class="filter_tag">
                      {{ tag }}
                      <i class="ti-close" (click)="removeTag(tag)"></i>
                    </a>
                  </li>
                  <li class="clear_filter" *ngIf="tags.length > 0">
                    <a
                      href="javascript:void(0)"
                      class="clear_filter"
                      (click)="removeAllTags()"
                    >
                      Clear all
                    </a>
                  </li>
                </ul>
                <div class="collection-product-wrapper" id="products">
                  <app-grid
                    [products]="products"
                    [paginate]="paginate"
                    [layoutView]="layoutView"
                    [sortBy]="sortBy"
                    (setGrid)="updateGridLayout($event)"
                    (setLayout)="updateLayoutView($event)"
                    (sortedBy)="sortByFilter($event)"
                  >
                  </app-grid>
                  <div class="product-wrapper-grid" [ngClass]="layoutView">
                    <div class="row">
                      <div
                        class="col-grid-box"
                        [ngClass]="grid"
                        *ngFor="let product of products"
                      >
                        <div class="product-box">
                          <app-product-box-one
                            [product]="product"
                            [currency]="productService?.Currency"
                            [thumbnail]="false"
                            [cartModal]="true"
                            [loader]="true"
                          >
                          </app-product-box-one>
                        </div>
                      </div>
                      <div
                        class="col-sm-12 text-center section-b-space mt-5 no-found"
                        *ngIf="!products.length"
                      >
                        <img
                          src="assets/images/empty-search.jpg"
                          class="img-fluid mb-4"
                        />
                        <h3>
                          Sorry! Couldn't find the product you were looking
                          For!!!
                        </h3>
                        <p>
                          Please check if you have misspelt something or try
                          searching with other words.
                        </p>
                        <a
                          [routerLink]="['/shop/collection/left/sidebar']"
                          class="btn btn-solid"
                          >continue shopping</a
                        >
                      </div>
                    </div>
                  </div>
                  <app-pagination
                    [products]="products"
                    [paginate]="paginate"
                    (setPage)="setPage($event)"
                  >
                  </app-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section End -->
