<app-header-one
  *ngIf="
    !router.url.includes('checkout') &&
    !router.url.includes('customize-product')
  "
  [sticky]="true"
></app-header-one>
<app-header-two
  *ngIf="
    router.url.includes('checkout') || router.url.includes('customize-product')
  "
  [sticky]="true"
></app-header-two>
<router-outlet></router-outlet>
<app-footer-one
  *ngIf="
    !router.url.includes('checkout') &&
    !router.url.includes('customize-product')
  "
></app-footer-one>
<app-footer-two
  *ngIf="
    router.url.includes('checkout') || router.url.includes('customize-product')
  "
></app-footer-two>
