<div *ngIf="!loader">
  <div class="img-wrapper">
    <div class="lable-block">
      <!-- <span class="lable77" *ngIf="product.new">{{ "new" | translate }}</span> -->
      <!-- <span class="lable77" *ngIf="!product.new">{{ "free" | translate }}</span> -->
      <div class="label-section">
        <!-- <span class="label79">{{ "New" | translate }}</span> -->
        <span class="label77" *ngIf="product.isInternationalShipping">{{
          "International" | translate
        }}</span>
        <span class="label78" *ngIf="product.markdownPrice">{{
          product.markdownPrice + "% Off" | translate
        }}</span>
      </div>
      <!-- <span class="lable4" *ngIf="product.sale">on sale</span> -->
    </div>
    <div class="front">
      <a [routerLink]="['/shop/product/left/sidebar/', product.productId]">
        <img
          style="height: 175px"
          [defaultImage]="
            ImageSrc ? ImageSrc : 'assets/images/product/placeholder.jpg'
          "
          [lazyLoad]="ImageSrc ? ImageSrc : formatImage(product.image)"
          class="img-fluid lazy-loading"
          alt="{{ product?.name }}"
        />
      </a>
    </div>
    <div class="back" *ngIf="onHowerChangeImage">
      <a [routerLink]="['/shop/product/left/sidebar/', product.productId]">
        <img
          [src]="ImageSrc ? ImageSrc : formatImage(product.image)"
          class="img-fluid lazy-loading"
          alt="{{ product?.name }}"
        />
      </a>
    </div>
    <ul class="product-thumb-list" *ngIf="thumbnail">
      <li
        class="grid_thumb_img"
        [class.active]="ImageSrc == image"
        *ngFor="let image of product.imageUrls"
      >
        <a href="javascript:void(0)" (mouseover)="ChangeVariantsImage(image)">
          <img [lazyLoad]="formatImage(image)" />
        </a>
      </li>
    </ul>
    <div class="cart-info cart-wrap">
      <a
        href="javascript:void(0)"
        title="Add to cart"
        (click)="openCartModal(product)"
        *ngIf="cartModal"
      >
        <i class="ti-shopping-cart"></i>
      </a>
      <a
        href="javascript:void(0)"
        title="Add to cart"
        (click)="addToCart(product)"
        *ngIf="!cartModal"
      >
        <i class="ti-shopping-cart"></i>
      </a>
      <a
        href="javascript:void(0)"
        title="Add to Wishlist"
        (click)="addToWishlist(product)"
      >
        <i class="ti-heart" aria-hidden="true"></i>
      </a>
      <a
        href="javascript:void(0)"
        title="Quick Views"
        (click)="QuickView.openModal()"
      >
        <i class="ti-search" aria-hidden="true"></i>
      </a>
      <!-- <a
        href="javascript:void(0)"
        title="Compare"
        (click)="addToCompare(product)"
      >
        <i class="ti-reload" aria-hidden="true"></i>
      </a> -->
    </div>
  </div>
  <div class="product-detail">
    <div style="margin-top: 15%">
      <!-- <bar-rating [rate]="5" [readOnly]="true"></bar-rating> -->
      <a [routerLink]="['/shop/product/left/sidebar/', product?.productId]">
        <h6>{{ product?.name | titlecase }}</h6>
      </a>
      <p>{{ product?.description }}</p>

      <div style="margin-bottom: 4%; font-weight: bold">
        <span class="ads-style">AD . Chris John</span>
      </div>
      <div style="margin-bottom: 4%; font-weight: bold">
        <span class="ads-style">
          <app-rating [rating]="product?.rating" [readonly]="true"></app-rating>
        </span>
      </div>
      <h4>
        {{
          product?.price * currency?.price
            | discount: product
            | currency: currency?.currency:"symbol"
        }}
        <del *ngIf="product?.markdownPrice"
          ><span class="money">
            {{
              product?.price * currency?.price
                | currency: currency?.currency:"symbol"
            }}</span
          ></del
        >
      </h4>
      <!-- <ul class="color-variant" *ngIf="product?.availableColors.length">
        <li [class]="color" *ngFor="let color of product?.availableColors" [ngStyle]="{'background-color': color}"
          (click)="ChangeVariants(color, product)">
        </li>
      </ul> -->
    </div>
  </div>
</div>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<app-quick-view
  #quickView
  [product]="product"
  [currency]="currency"
></app-quick-view>
<app-cart-modal
  #cartModal
  [product]="product"
  [currency]="currency"
  *ngIf="cartModal"
></app-cart-modal>
