<!--footer section -->
<footer [class]="class">
	<div class="sub-footer">
		<div style="border-top: 1px solid #ab9898;" class="container ">
			<div class="row">
				<div class="col-xl-6 col-md-6 col-sm-6">
					<div class="footer-logo">
						<img style=" margin-top: 3%;
							width: 21%;" [src]="themeLogo" alt="logo">
					</div>
				</div>
				<div class="col-xl-6 col-md-6 col-sm-6">
					<div class="footer-end">
						<p><i class="fa fa-copyright" aria-hidden="true"></i> {{ today | date:'y'}} Marketoo. All Rights
							Reserved.</p>

					</div>
					<!-- <div class="payment-card-bottom">
                    <ul>
                      <li>
                        <a><img src="assets/images/icon/visa.png" alt=""></a>
                      </li>
                      <li>
                        <a><img src="assets/images/icon/mastercard.png" alt=""></a>
                      </li>
                      <li>
                        <a><img src="assets/images/icon/paypal.png" alt=""></a>
                      </li>
                      <li>
                        <a><img src="assets/images/icon/american-express.png" alt=""></a>
                      </li>
                      <li>
                        <a><img src="assets/images/icon/discover.png" alt=""></a>
                      </li>
                    </ul>
                  </div> -->
				</div>
			</div>
		</div>
	</div>
</footer>
<!--footer section end -->