<!-- <app-breadcrumb [title]="'Collection'" [breadcrumb]="'Collection'"></app-breadcrumb> -->
<!-- section start -->
<section class="section-b-space" style="border-top: 1px solid #ab9898;
margin-top: 6px;padding-top: 0px;">
    <div class="collection-wrapper">
        <div class="container">
            <div style="width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 1.5%;
            padding-top: 1.5%;" class="top-banner-wrapper ">
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="collection-filter" [class.openFilterbar]="mobileSidebar">
                        <!-- side-bar colleps block stat -->
                        <div style="padding: 30px;" class="collection-filter-block">
                            <div class="collection-mobile-back" (click)="toggleMobileSidebar()">
                                <span class="filter-back">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i> back
                                </span>
                            </div>
                            <!-- Category filter start -->
                            <!-- <app-categories></app-categories> -->
                            <h4 style="font-weight: bold;">My Marketoo</h4>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Purchase Order
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Refund Application
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Points
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a style="cursor: pointer;" (click)="aboutme = false;address=false;coupons=true;newsletter=false">
                                        Store Credit
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Account Settings
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;font-size: 13px;
                            padding-left: 4px;">
                                <li>
                                    <a>
                                        Basic Settings
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;font-size: 13px;
                            padding-left: 4px;color: #435034;">
                                <li>
                                    <a style="cursor: pointer;" (click)="aboutme = true;address=false;coupons=false;newsletter=false">
                                        About Me
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;font-size: 13px;
                            padding-left: 4px;">
                                <li>
                                    <a>
                                        Credit card management
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;font-size: 13px;
                            padding-left: 4px;">
                                <li>
                                    <a style="cursor: pointer;" (click)="aboutme = false;address=true;coupons=false;newsletter=false">
                                        Common address book
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;font-size: 13px;
                            padding-left: 4px;">
                                <li>
                                    <a>
                                        Notification settings
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;font-size: 13px;
                            padding-left: 4px;">
                                <li>
                                    <a style="cursor: pointer;" (click)="aboutme = false;address=false;coupons=false;newsletter=true">
                                        Newsletter Subscription
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="collection-content col" *ngIf="aboutme">
                        <div class="page-main-content">
                            <div class="row">
                                <div style="border-bottom: 4px solid #eeeeef;" class="col-sm-12">
                                    <h5 style="font-weight: bold;">About Me</h5>
                                </div>
                            </div>
                            <div style="border-bottom: 1px solid #eeeeef;" class="row">
                                <form class="theme-form">
                                    <div style="padding-top: 17px;" class="col-sm-12">
                                    </div>
                                    <div class="form-row">
                                        <h5 style="font-weight: bold;">Let friends know you</h5>
    
                                        <div class="col-md-12">
                                            <label for="name">What kind of person are you</label>
                                            <textarea class="form-control mb-0" id="exampleFormControlTextarea1"
                                                rows="3"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Blogs</label>
                                            <input type="text" class="form-control" id="name" placeholder="" required="">
                                        </div>
                                        <div style="margin-bottom: 24px;" class="col-md-12">
                                            <label for="name">Personal website</label>
                                            <input type="text" class="form-control" id="name" placeholder="" required="">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div style="margin-bottom: 24px;" class="row">
                                <form class="theme-form">
                                    <div style="padding-top: 17px;" class="col-sm-12">
                                    </div>
                                    <div class="form-row">
                                        <h5 style="font-weight: bold;">How do you live your life</h5>
                                        <div class="col-md-12">
                                            <label for="name">What do you usually buy</label>
                                            <textarea class="form-control mb-0" id="exampleFormControlTextarea1"
                                                rows="3"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Markets, designers, and old houses that love to go
                                                shopping</label>
                                            <textarea class="form-control mb-0" id="exampleFormControlTextarea1"
                                                rows="3"></textarea>
                                        </div>
    
                                    </div>
                                </form>
    
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-solid">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="collection-content col" *ngIf="address">
                        <div class="page-main-content">
                            <div class="row">
                                <div style="border-bottom: 4px solid #eeeeef;" class="col-sm-12">
                                    <h5 style="font-weight: bold;">My Address Book</h5>
                                </div>
                            </div>
                            <div style="margin-bottom: 24px;" class="row">
                                <form class="theme-form">
                                    <div style="padding-top: 17px;" class="col-sm-12">
                                    </div>
                                    <div class="form-row">
                                        <h5 style="font-weight: bold;">The following is your usual address, you can manage
                                            all used purchase addresses here</h5>
    
                                        <div class="col-md-12">
                                            <label for="name">Name</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Phone</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Address line 1</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Address line 2</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">City</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">State / Province / Region</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Zip code / Postal code</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-solid">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="collection-content col" *ngIf="coupons">
                        <div class="page-main-content">
                            <h5 style="font-weight: bold;">Coupons</h5>
    
                            <div class="row">
                                <div style="border-bottom: 4px solid #eeeeef;" class="col-sm-12">
                                    <h5>There are 2 Coupons left</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div  class="col-sm-6">
                                    <a [routerLink]="['/shop/collection/left/sidebar']">
                                        <img style="width: 70%;    margin-top: 30px;" src="assets/images/coupon2.jpg"
                                            class="img-fluid center" alt="">
                                    </a>
                                    <a [routerLink]="['/shop/collection/left/sidebar']">
                                        <img style="width: 70%;    margin-top: 30px;" src="assets/images/coupon1.jpg"
                                            class="img-fluid center" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collection-content col" *ngIf="newsletter">
                        <div class="page-main-content">
                            <h5 style="font-weight: bold;">Subscriptions</h5>
    
                            <div class="row">
                                <div style="background-color: #eeeeef;" class="col-sm-12 p-2">
                                    <h5 class="text-success">Reminder</h5>
                                    <p>Email preferences can be changed anytime</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="mt-3">Manage Subscriptions</h5>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label mt-0" for="defaultCheck1">
                                            Unsubscribe
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <button type="button" class="btn btn-solid ml-3">Save</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->