<!-- <app-breadcrumb [title]="'Collection'" [breadcrumb]="'Collection'"></app-breadcrumb> -->
<!-- section start -->
<section class="section-b-space" style="border-top: 1px solid #ab9898;
margin-top: 6px;padding-top: 0px;">
    <div class="collection-wrapper">
        <div class="container">
            <div style="width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 1.5%;
            padding-top: 1.5%;" class="top-banner-wrapper ">
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="collection-filter" [class.openFilterbar]="mobileSidebar">
                        <!-- side-bar colleps block stat -->
                        <div style="padding: 30px;" class="collection-filter-block">
                            <div class="collection-mobile-back" (click)="toggleMobileSidebar()">
                                <span class="filter-back">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i> back
                                </span>
                            </div>
                            <!-- Category filter start -->
                            <!-- <app-categories></app-categories> -->
                            <h4 style="font-weight: bold;">My Marketoo</h4>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Purchase Order
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Refund Application
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Store Credit
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a style="cursor: pointer;" (click)="openComponent('coupons')">
                                        Coupons
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Account Settings
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Basic Settings
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a style="cursor: pointer;" (click)="openComponent('aboutme')">
                                        About Me
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Credit card management
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a style="cursor: pointer;" (click)="openComponent('address')">
                                        Common address book
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a>
                                        Notification settings
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a style="cursor: pointer;" (click)="openComponent('newsletter')">
                                        Newsletter Subscription
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a style="cursor: pointer;" (click)="openComponent('invitefriends')">
                                        Invite friends
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 8px;">
                                <li>
                                    <a style="cursor: pointer;" (click)="openComponent('myMessages')">
                                        My Messages
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="collection-content col" *ngIf="components.aboutme">
                        <div class="page-main-content">
                            <div class="row">
                                <div style="border-bottom: 4px solid #eeeeef;" class="col-sm-12">
                                    <h5 style="font-weight: bold;">About Me</h5>
                                </div>
                            </div>
                            <div style="border-bottom: 1px solid #eeeeef;" class="row">
                                <form class="theme-form">
                                    <div style="padding-top: 17px;" class="col-sm-12">
                                    </div>
                                    <div class="form-row">
                                        <h5 style="font-weight: bold;">Let friends know you</h5>
    
                                        <div class="col-md-12">
                                            <label for="name">What kind of person are you</label>
                                            <textarea class="form-control mb-0" id="exampleFormControlTextarea1"
                                                rows="3"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Blogs</label>
                                            <input type="text" class="form-control" id="name" placeholder="" required="">
                                        </div>
                                        <div style="margin-bottom: 24px;" class="col-md-12">
                                            <label for="name">Personal website</label>
                                            <input type="text" class="form-control" id="name" placeholder="" required="">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div style="margin-bottom: 24px;" class="row">
                                <form class="theme-form">
                                    <div style="padding-top: 17px;" class="col-sm-12">
                                    </div>
                                    <div class="form-row">
                                        <h5 style="font-weight: bold;">How do you live your life</h5>
                                        <div class="col-md-12">
                                            <label for="name">What do you usually buy</label>
                                            <textarea class="form-control mb-0" id="exampleFormControlTextarea1"
                                                rows="3"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Markets, designers, and old houses that love to go
                                                shopping</label>
                                            <textarea class="form-control mb-0" id="exampleFormControlTextarea1"
                                                rows="3"></textarea>
                                        </div>
    
                                    </div>
                                </form>
    
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-solid">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="collection-content col" *ngIf="components.address">
                        <div class="page-main-content">
                            <div class="row">
                                <div style="border-bottom: 4px solid #eeeeef;" class="col-sm-12">
                                    <h5 style="font-weight: bold;">My Address Book</h5>
                                </div>
                            </div>
                            <div style="margin-bottom: 24px;" class="row">
                                <form class="theme-form">
                                    <div style="padding-top: 17px;" class="col-sm-12">
                                    </div>
                                    <div class="form-row">
                                        <h5 style="font-weight: bold;">The following is your usual address, you can manage
                                            all used purchase addresses here</h5>
    
                                        <div class="col-md-12">
                                            <label for="name">Name</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Phone</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Address line 1</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Address line 2</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">City</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">State / Province / Region</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="name">Zip code / Postal code</label>
                                            <input style="width: 40%;
                                            height: 40px;" type="text" class="form-control" id="name" placeholder=""
                                                required="">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-solid">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="collection-content col" *ngIf="components.coupons">
                        <div class="page-main-content">
                            <h5 style="font-weight: bold;">Coupons</h5>
    
                            <div class="row">
                                <div style="border-bottom: 4px solid #eeeeef;" class="col-sm-12">
                                    <h5>There are 2 Coupons left</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div  class="col-sm-6">
                                    <a [routerLink]="['/shop/collection/left/sidebar']">
                                        <img style="width: 70%;    margin-top: 30px;" src="assets/images/coupon2.jpg"
                                            class="img-fluid center" alt="">
                                    </a>
                                    <a [routerLink]="['/shop/collection/left/sidebar']">
                                        <img style="width: 70%;    margin-top: 30px;" src="assets/images/coupon1.jpg"
                                            class="img-fluid center" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collection-content col" *ngIf="components.newsletter">
                        <div class="page-main-content">
                            <h5 style="font-weight: bold;">Subscriptions</h5>
    
                            <div class="row">
                                <div style="background-color: #eeeeef;" class="col-sm-12 p-2">
                                    <h5 class="text-success">Reminder</h5>
                                    <p>Email preferences can be changed anytime</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="mt-3">Manage Subscriptions</h5>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label mt-0" for="defaultCheck1">
                                            Unsubscribe
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <button type="button" class="btn btn-solid ml-3">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="collection-content col" *ngIf="components.invitefriends">
                        <div class="row">
                          <div class="col-xl-6" style="padding-right: 0%">
                            <img
                              src="assets/images/refral-image.jpg"
                              alt=""
                              class="img-fluid blur-up full-width"
                            />
                          </div>
                          <div class="col-xl-6" style="padding-left: 0%">
                            <div class="" style="background: white">
                              <div class="card-body">
                                <form [formGroup]="userForm">
                                  <ngb-tabset class="tab-coupon profile-tabs" justify="justified">
                                    <ngb-tab class="asdfgg">
                                      <ng-template ngbTabTitle>
                                          <h4>Email</h4>
                                        <!-- <app-feather-icons [icon]="'mail'"></app-feather-icons> -->
                                      </ng-template>
                                      <ng-template ngbTabContent>
                                        <div
                                          class="tab-pane fade show active"
                                          id="top-profile"
                                          role="tabpanel"
                                          aria-labelledby="top-profile-tab"
                                        >
                                          <input
                                            class="form-control field-margin"
                                            [formControl]="userForm.controls['email']"
                                            placeholder="{{ 'ref_other_email' | translate }}"
                                            id="email"
                                            type="email"
                                            required=""
                                          />
                                          <!-- <div class="form-group "> -->
                                          <div
                                            style="color: tomato; text-align: right; font-size: 16px"
                                          >
                                            {{ "ref_email" | translate }}
                                          </div>
                                          <!-- <editor (sendData)="getEmails($event)"></editor> -->
                                          <!-- <textarea
                                            class="form-control field-margin"
                                            placeholder="Enter upto 10 Friends' emails"
                                            rows="4"
                                          ></textarea> -->
                                          <!-- </div> -->
                                          <!-- <div class="form-group field-margin"> -->
                                          <textarea
                                            class="form-control field-margin"
                                            placeholder="{{ 'ref_desc' | translate }}"
                                            rows="6"
                                          ></textarea>
                                          <!-- </div> -->
                                          <div style="margin-top: 20px">
                                            <button type="button" class="btn btn-primary full-width">
                                              {{ "ref_send_email" | translate }}
                                            </button>
                                          </div>
                                        </div>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template
                                        style="width: 100px; text-align: center"
                                        ngbTabTitle
                                      >
                                        <!-- <app-feather-icons [icon]="'facebook'"></app-feather-icons> -->
                                        <h4>facebook</h4>
                                        <i data-feather="facebook"></i>
                                      </ng-template>
                                      <ng-template ngbTabContent>
                                        <div class="account-setting"></div>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <!-- <app-feather-icons [icon]="'twitter'"></app-feather-icons> -->
                                        <!-- <i data-feather="facebook"></i> -->
                                        <h4>twitter</h4>
                                      </ng-template>
                                      <ng-template ngbTabContent>
                                        <div class="account-setting"></div>
                                      </ng-template>
                                    </ngb-tab>
                                  </ngb-tabset>
                                </form>
                              </div>
                            </div>
                            <div style="text-align: center; margin: 10px">
                              <span
                                style="color: #808000; cursor: pointer"
                                data-toggle="modal"

                              >
                                <span>{{ "ref_how_it" | translate }}</span>
                              </span>
                              | {{ "ref_powered_by" | translate }}
                            </div>
                          </div>
                        </div>
                        <!-- Container-fluid Ends-->
                      </div>    
                         <!-- Invite friend How it works -->
                         <ng-template #Document let-modal class="modal-xl">
                            <div class="modal-header" style="background: #f88379">
                              <h5 class="modal-title" id="exampleModalLabel" style="color: white">
                                How It Works
                              </h5>
                              <button
                                type="button"
                                class="close"
                                aria-label="Close"
                                (click)="modal.dismiss('Cross click')"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="main-container" style="padding: 10px 30px">
                                <p>Shop Owner Referral Program</p>
                                <p>&nbsp;</p>
                                <ul>
                                  <li>
                                    店主每成功邀請一位新店主註冊並且上架商品後，即可獲得HK$20，可用於減免成交管理費，並扣除於當月管理費中。
                                  </li>
                                  <li>
                                    After the shop owner successfully invites a new shop owner to register
                                    and list the products on Marketoo, shop owner will get HK$20 in which
                                    shop owner can use to reduce transaction management fee and deduct it
                                    from transaction of the current month.
                                  </li>
                                </ul>
                                <p>&nbsp;</p>
                                <ul>
                                  <li>
                                    每月可減免成交管理費金額上限為 HK$500（相當於邀請25個新店主或以上）,
                                    減免額不可超過每月成交管理費。
                                  </li>
                                  <li>
                                    The maximum amount of monthly transaction management fee exemption is
                                    HK$500 (equivalent to inviting 25 new shop owners or more), and the
                                    deduction cannot exceed the monthly transaction management fee.
                                  </li>
                                  <li></li>
                                  <li>
                                    減免金額與當月收入同樣於當月月底結算，由Marketoo
                                    系統每月自動減免成交管理費，若可減免的金額比成交管理費多，扣除可減免金額後，差額不可累積或兌換其他優惠。
                                  </li>
                                  <li></li>
                                  <li>
                                    The deduction amount will be settled at the end of the same month as
                                    the income of the current month. Marketoo system will automatically
                                    deduct the transaction management fee every month. If the deduction
                                    amount is more than the transaction management fee, after deducting
                                    the deduction amount, the difference cannot be accumulated or
                                    exchanged for other offers.
                                  </li>
                                  <li></li>
                                  <li>
                                    例子1：本月收入HK$2000，成交管理費為 HK$100，店主可拿到
                                    HK$1900。而若有可減免的金額為 HK$150，最終店主可拿到的金額是
                                    HK$2000（因減免額不可超過每月成交管理費, 最多可扣除HK$100）。
                                  </li>
                                  <li></li>
                                  <li>
                                    Example 1: The income of this month is HK$2000, the transaction
                                    management fee is HK$100, and the shop owner can get HK$1900. And if
                                    there is a deduction of HK$150, the final amount that the shop owner
                                    can get is HK$2000 (because the deduction cannot exceed the monthly
                                    transaction management fee, a maximum of HK$100 can be deducted).
                                  </li>
                                </ul>
                                <p>&nbsp;</p>
                                <p>最終匯款金額</p>
                                <p>=HK$2000(收入)-HK$100(成交管理費)+HK$100(減免金額)</p>
                                <p>=HK$2000</p>
                                <p>Final remittance amount</p>
                                <p>
                                  =HK$2000 (income) - HK$100 (transaction management fee) + HK$100
                                  (reduction amount)
                                </p>
                                <p>=HK$2000</p>
                                <p>&nbsp;</p>
                                <p>
                                  例子2：本月收入HK$2000，成交管理費為 HK$100，店主可拿到
                                  HK$1900。而若有可減免的金額為 HK$50，最終店主可拿到的金額是 HK$1950。
                                </p>
                                <p>
                                  Example 2: This month's income is HK$2000, transaction management fee is
                                  HK$100, and the shop owner can get HK$1900. And if there is a deductible
                                  amount of HK$50, the final amount the shop owner can get is HK$1950.
                                </p>
                                <p>&nbsp;</p>
                                <p>最終匯款金額</p>
                                <p>=HK$2000(收入)-HK$100(成交管理費)+HK$50(減免金額)</p>
                                <p>=HK$1950</p>
                                <p>Final remittance amount</p>
                                <p>
                                  =HK$2000(收入)-HK$100(transaction management fee)+HK$50(reduction
                                  amount)
                                </p>
                                <p>=HK$1950</p>
                                <p>&nbsp;</p>
                          
                                <ul>
                                  <li>
                                    系統根據新店主上架商品日期，利用月結形式，自動減免當月成交管理費。例如：推薦後,
                                    新店主於1月 31日成功上架商品，將納入
                                    1月減免金額中，支付金額於次月二十號(遇假日順延)扣除相關費用後,
                                    匯至店主指定帳戶。
                                  </li>
                                  <li></li>
                                  <li>
                                    The system automatically reduces or exempts the transaction management
                                    fee of the month based on the date when the new store owner puts the
                                    product on the shelf. For example: After the recommendation, the new
                                    store owner successfully listed the product on January 31st, and it
                                    will be included in the January deduction amount. The payment amount
                                    will be remitted to the store owner's designated account on the 20th
                                    of the following month (postponed on holidays) after deducting the
                                    relevant expenses.
                                  </li>
                                </ul>
                                <p><em>&nbsp;</em></p>
                                <p>&nbsp;</p>
                                <ul>
                                  <li>
                                    當月收入未達<a href="https://www.pinkoi.com/faq/shop?question=monthly"
                                      >匯款標準</a
                                    >(月結金額不足HK$500)，但店主也成功邀請會員，系統亦會自動以月結形式折抵成交管理費，待累積達匯款<a
                                      href="https://www.pinkoi.com/faq/shop?question=monthly"
                                      >標準</a
                                    >後一併匯款。
                                  </li>
                                  <li></li>
                                  <li>
                                    例如：1 月營收 HK$500，成交管理費 HK$50，可減免 HK$20，可拿金額為
                                    HK$470；因 HK$470 未達匯款標準，故將累積至下月收入，待合共超過 HK$500
                                    時進行匯款。
                                  </li>
                                  <li></li>
                                  <li>
                                    The monthly income does not meet the remittance standard (monthly
                                    settlement amount is less than HK$500), but the shop owner also
                                    successfully invites members, the system will automatically deduct the
                                    transaction management fee in the form of monthly settlement, and the
                                    remittance will be sent together after the accumulation reaches the
                                    remittance standard.
                                  </li>
                                  <li></li>
                                  <li>
                                    For example: January revenue is HK$500, transaction management fee is
                                    HK$50, HK$20 can be deducted, and the available amount is HK$470; as
                                    HK$470 is not up to the remittance standard, it will accumulate to the
                                    next month's income, and it will be done when the total exceeds HK$500
                                    money transfer.
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <!-- <div class="action">
                                    <button class="btn btn-primary" type="button" (click)="updateStatus()">Update</button>
                                </div> -->
                          </ng-template>
                          
                    <div class="collection-content col" *ngIf="components.myMessages">
                        <div class="page-main-content">
                            <div class="row">
                                <div style="border-bottom: 4px solid #eeeeef;" class="col-sm-12">
                                    <!-- <h5>There are 2/2 letters from</h5> -->
                                </div>
                            </div>
                            <div class="row">
                                <div style="border-bottom: 1px solid #eeeeef;cursor: pointer;" class="col-sm-12">
                                    <p class="mb-2 mt-2">22/12/2020</p>
                                    <span>
                                        <img style="width: 30px;" src="assets/images/empty-wishlist.png" alt="avatar" class="img-fluid center" />
                                        <span class="mb-1 ml-2">User Name</span>
                                    </span>
                                    <p class="mb-2 mt-2">Keep calm and wait for your order to deliver</p>
                                </div>
                                <div style="border-bottom: 1px solid #eeeeef;cursor: pointer;" class="col-sm-12">
                                    <p class="mb-2 mt-2">22/12/2020</p>
                                    <span>
                                        <img style="width: 30px;" src="assets/images/empty-wishlist.png" alt="avatar" class="img-fluid center" />
                                        <span class="mb-1 ml-2">User Name</span>
                                    </span>
                                    <p class="mb-2 mt-2">Keep calm and wait for your order to deliver</p>
                                </div>
                                <div style="border-bottom: 1px solid #eeeeef;cursor: pointer;" class="col-sm-12">
                                    <p class="mb-2 mt-2">22/12/2020</p>
                                    <span>
                                        <img style="width: 30px;" src="assets/images/empty-wishlist.png" alt="avatar" class="img-fluid center" />
                                        <span class="mb-1 ml-2">User Name</span>
                                    </span>
                                    <p class="mb-2 mt-2">Keep calm and wait for your order to deliver</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->