<header class="sticky" [ngClass]="class">
    <div class="mobile-fix-option"></div>
    <div class="container">
        <div class="row" style="margin-top: 0.5%">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="brand-logo" style="padding-top: 20px;
                        padding-bottom: 20px;">
                            <a routerLink="/home/fashion" id="headerlogo">
                                <img [src]="themeLogo" class="img-fluid" alt="logo">
                            </a>
                        </div>
                    </div>
                    <h4>{{'Shopping Cart' | translate }}:</h4>
                    <span style="margin-right: -4%;" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span style="color: #435034;" class="fa fa-circle fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <a style="color: #ffffff;" class="fa-stack-1x">
                            1
                        </a>
                    </span>
                    <h4>{{'Select Shop' | translate }}</h4>
                    <hr style="width:20%;margin-left: -4%;
                    margin-right: -4%;height:2px;border-width:0;color:gray;background-color:gray">
                    <span style="margin-right: -4%;" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span style="color: #435034;" class="fa fa-circle fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <a style="color: #ffffff;" class="fa-stack-1x">
                            2
                        </a>
                    </span>
                    <h4>{{'Address And Payment' | translate }}</h4>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
        <div style="margin-top: -2.5%; margin-bottom: -1.7%;" class="row">

            <div class="col-sm-12">
                <div class="main-menu" style="height: 62px;">
                </div>
            </div>
        </div>
    </div>
</header>